In [1]:
%matplotlib inline

import sys
sys.path.insert(0, '../')
import BrasilUSP_iGEM_LabLib as LabLib
from IPython.display import display, HTML

import numpy as np
import glob


ColumnNames = {
    'A' : "NoPlasmid",
    'B' : "-control",
    'C' : "ZeroC",
    'D' : "C1",
    'E' : "C2",
    'F' : "C3",
    'G' : "C4",
    'H' : "C5",
}

MeaningColNames = { v: k for k, v in ColumnNames.items()}

def allCols(labels, r0 = 1, rf = 9):
    if type(labels) != list: 
        labels = [labels]
    cols = []
    for label in labels:
        row  = MeaningColNames[label]
        for j in range(r0,rf+1):
            cols.append(row + '0' + str(j))
    return cols

In [2]:
FLlist = []
tidx = []

for file in glob.glob("K8*.txt"):
    tidx.append( float( file.split(' ')[2].split('.')[0] ) )
    FLlist.append(file)

Idx = np.argsort(tidx)
FLlist = np.array(FLlist)[Idx]

ODlist = []
for j in range(14):
    ODlist.append("OD "+str(j)+".txt")


fldata = LabLib.ReadFluor_timefmt_nanomed(FLlist)

In [3]:
for ColN in ColumnNames.values():
    print 
    display(HTML('<p style="font-size: 13pt;"><b>--- ' + ColN + '</b></p>'))
    display( fldata[allCols(ColN)] )

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,850.731,926.555,964.337,773.547,718.900,896.479,872.418,892.312,979.305
1,784.056,957.895,901.795,715.329,680.552,797.321,826.877,789.593,945.554
2,786.949,775.134,811.304,737.344,694.868,769.156,754.109,793.235,895.883
3,821.040,890.780,922.889,755.687,733.392,774.031,733.984,817.925,894.677
4,926.136,841.148,989.919,767.084,743.977,771.374,757.119,857.824,940.139
5,800.940,779.539,862.746,733.236,713.273,774.190,733.147,819.536,894.621
6,937.248,881.061,1015.008,755.724,755.726,886.499,762.520,746.135,940.679
7,929.329,886.825,1035.025,812.610,779.588,815.855,793.948,767.902,933.519
8,844.651,830.895,848.124,740.382,753.818,780.765,767.938,755.894,913.716
9,854.195,916.421,886.760,768.526,791.895,858.111,805.369,830.307,967.327
10,853.112,885.470,877.964,746.993,760.526,857.366,782.464,972.853,932.515

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1036.052,734.093,881.752,699.636,934.098,800.853,915.673,835.036,1067.100
1,905.623,713.376,943.127,632.382,924.890,683.826,827.111,893.384,1057.156
2,952.967,835.226,878.937,710.094,918.263,709.764,1060.314,880.414,994.328
3,1017.678,897.275,929.471,768.316,1016.651,769.591,987.838,903.043,1149.294
4,1130.175,1063.701,1046.842,910.834,1144.656,1109.001,1306.658,1097.146,1226.004
5,1331.617,1285.172,1260.900,1100.386,1305.903,1263.002,1473.322,1296.938,1404.526
6,1634.477,1489.511,1625.122,1583.443,1629.206,1476.120,1657.574,1691.064,1673.650
7,1927.010,1875.945,1999.270,1857.524,1971.600,1840.421,2048.620,2077.621,2118.207
8,2243.309,1979.901,2244.340,2050.790,2178.097,2191.973,2305.610,2362.010,2418.423
9,2611.842,2330.779,2472.854,2484.515,2514.604,2423.998,2567.490,2608.781,2680.251
10,2965.469,2492.034,2585.833,2577.810,2837.616,2696.514,2698.516,2746.808,3075.848

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1212.975,992.353,1087.447,845.911,1057.943,795.008,1226.070,1088.343,1208.894
1,1276.203,1088.696,1122.767,721.960,1062.804,705.765,1132.437,1057.888,1203.820
2,1462.358,1312.345,1438.727,833.528,1021.660,831.419,1365.322,1220.247,1422.424
3,1834.370,1538.895,1687.644,911.350,1121.928,907.625,1590.084,1485.559,1643.339
4,1938.718,1753.019,1870.107,908.116,1122.712,979.809,1910.719,1833.194,1970.899
5,1916.925,1808.714,1923.177,939.372,1122.698,1065.808,1986.631,1918.826,2048.490
6,2117.434,1907.060,2002.057,1082.716,1353.805,1067.756,2009.361,2080.873,2347.185
7,2103.929,1929.447,2103.041,1108.902,1327.052,1193.915,2157.231,2195.229,2529.369
8,2088.645,2027.537,2170.680,1109.855,1314.993,1186.520,2222.419,2215.652,2559.045
9,2242.506,2167.608,2247.481,1188.941,1483.556,1276.604,2330.464,2343.158,2541.398
10,2201.531,2045.306,2218.694,1184.136,1448.594,1219.153,2264.318,2418.019,2672.968

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,2125.552,1973.276,2105.256,2204.723,2181.802,2141.431,1277.646,1250.091,1141.930
1,2437.776,2265.386,2318.075,2318.302,2446.880,2427.799,1527.559,1454.679,1327.078
2,2860.516,2751.108,2938.957,2760.562,2825.530,2828.222,1861.391,1840.918,1732.057
3,3295.498,3246.069,3438.117,3110.049,3179.731,3180.811,2206.834,2345.304,2179.924
4,4165.090,4215.116,4512.428,3569.906,3686.791,3693.030,3222.818,3310.696,3218.370
5,4462.891,4601.600,4901.759,3754.796,3839.160,3867.174,3652.260,3776.269,3744.495
6,5046.220,5070.274,5390.356,4125.646,4270.391,4267.531,4358.343,4530.708,4685.552
7,5468.165,5482.008,5774.583,4427.444,4619.467,4637.609,4936.772,5151.385,5397.081
8,5618.991,5848.301,6159.189,4564.861,4735.076,4799.583,5315.300,5506.669,5890.414
9,6175.686,6326.163,6647.735,4925.752,5159.515,5208.119,6031.175,6198.911,6527.557
10,6524.752,6735.443,7339.035,5380.771,5490.085,5588.914,6601.733,6736.830,7074.318

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,1969.523,1741.482,1941.921,964.475,1160.900,1113.992,2806.285,2842.733,2869.659
1,2206.291,2026.157,2231.197,1152.698,1408.149,1344.915,3097.310,3093.503,3143.096
2,2769.415,2653.640,2750.010,1576.315,1854.082,1692.574,3642.057,3745.321,3786.304
3,3148.438,3148.446,3283.274,1977.836,2262.179,2091.737,4171.002,4232.795,4329.414
4,4073.607,4068.736,4249.382,2695.075,2942.607,2837.545,5425.268,5642.748,5668.952
5,4450.375,4529.911,4593.434,3136.411,3342.333,3293.297,5813.586,6150.910,6192.736
6,4911.606,5078.395,5271.342,3795.442,3942.411,4004.272,6503.841,6743.408,6846.559
7,5344.472,5512.958,5601.146,4177.825,4395.101,4430.855,6825.141,7256.977,7444.626
8,5707.101,5933.722,6066.245,4466.917,4701.835,4763.840,7215.496,7712.055,7818.126
9,6355.342,6619.520,6716.900,4971.762,5157.938,5329.803,7885.195,8121.704,8341.754
10,6560.182,7027.418,7237.629,5486.815,5533.421,5763.403,8270.383,8534.512,9063.974

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,2232.705,2052.232,2097.014,2137.623,2318.255,2258.936,1198.875,1154.333,1258.882
1,2467.373,2171.535,2232.797,2382.446,2447.152,2419.506,1404.459,1306.808,1385.725
2,2940.155,2652.278,2632.173,2813.824,2883.201,2829.102,1795.218,1730.527,1824.096
3,3314.653,3056.394,3124.517,3164.087,3184.659,3122.141,2117.907,2056.508,2231.313
4,4235.088,3903.402,3964.042,3672.662,3715.768,3704.532,2951.798,2956.577,3187.920
5,4554.353,4257.344,4457.173,3849.322,3821.827,3896.786,3421.897,3438.300,3696.229
6,5015.971,4770.572,4979.401,4301.635,4118.058,4351.234,4253.924,4256.388,4385.502
7,5424.930,5072.237,5310.710,4585.696,4429.034,4622.550,4812.413,4874.722,5111.045
8,5772.077,5262.861,5454.119,4733.617,4660.300,4820.475,5336.562,5327.673,5614.144
9,6099.900,5734.650,5986.204,5042.461,4900.844,5240.557,5921.470,5942.945,6305.172
10,6589.668,6268.815,6474.794,5585.017,5410.253,5718.200,6504.598,6569.534,6973.016

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,1481.683,1317.445,1324.238,2236.938,2384.626,2246.011,1227.801,1195.613,1316.999
1,1645.467,1552.991,1604.863,2490.697,2587.036,2457.084,1461.181,1396.495,1585.845
2,2069.888,2039.538,2064.235,2945.672,2954.906,2958.613,1949.304,1803.857,1948.175
3,2439.507,2425.243,2502.021,3388.500,3342.350,3405.172,2342.814,2215.003,2426.395
4,3365.391,3251.473,3468.825,3862.640,3906.147,3970.494,3296.307,3197.932,3428.728
5,3775.175,3656.512,3870.466,4030.729,4074.133,4132.715,3665.498,3680.002,3909.046
6,4492.576,4235.461,4478.839,4578.031,4473.325,4593.858,4454.911,4566.210,4881.819
7,4988.549,4809.720,5087.840,4871.173,4822.671,5003.027,5107.189,5200.496,5538.225
8,5411.766,5216.087,5411.541,5076.928,5012.553,5189.300,5585.855,5760.860,6016.611
9,6010.731,5633.416,5966.677,5569.767,5509.251,5583.201,6155.207,6343.815,6717.233
10,6613.336,6180.326,6637.747,6083.208,5894.375,6132.335,6755.433,6942.093,7488.422

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,2041.305,2100.764,2130.030,1121.837,1163.057,1206.365,2561.784,2655.060,2613.287
1,2384.325,2381.647,2397.280,1290.227,1377.508,1423.162,2818.877,2918.561,2857.634
2,2795.192,2831.356,2895.400,1691.176,1814.787,1826.849,3146.686,3356.799,3382.729
3,3250.628,3190.173,3259.109,2102.876,2223.422,2283.843,3679.743,3799.803,3763.559
4,4101.695,3971.946,4116.188,2914.643,3025.435,3146.775,4514.316,4754.084,4817.000
5,4473.526,4418.491,4589.966,3351.829,3568.967,3675.704,5094.272,5330.887,5341.392
6,5083.593,5063.550,5219.866,4014.060,4198.965,4387.368,5947.037,6128.679,6098.591
7,5728.470,5581.481,5842.520,4571.365,4723.333,4939.663,6483.659,6602.057,6697.692
8,6235.596,5888.794,6285.862,4903.451,5071.525,5258.858,6968.080,7089.095,7166.335
9,6752.171,6451.774,6923.291,5404.750,5566.712,5734.906,7691.046,7680.979,7840.790
10,7539.714,7304.666,7816.930,6025.052,6127.957,6304.604,8561.515,8688.545,8674.222