In [1]:
%matplotlib inline

import sys
sys.path.insert(0, '../../')
import BrasilUSP_iGEM_LabLib as LabLib

import numpy as np
import glob
from IPython.display import display, HTML
 

ColumnNames = {
    'A' : "NoPlasmid",
    'B' : "+control",
    'C' : "ZeroC",
    'D' : "C1",
    'E' : "C2",
    'F' : "C3",
    'G' : "C4",
    'H' : "C5",
}

MeaningColNames = { v: k for k, v in ColumnNames.items()}

def allCols(labels, r0 = 1, rf = 9):
    if type(labels) != list: 
        labels = [labels]
    cols = []
    for label in labels:
        row  = MeaningColNames[label]
        for j in range(r0,rf+1):
            cols.append(row + '0' + str(j))
    return cols

In [2]:
# Indexes of promoters
Pidxs = ['Rha', 'ara', 'IPTG']
Pnames = {'Rha' : 'Rhamnose', 'ara' : 'Arabinose', 'IPTG' : 'IPTG'}
Pcolors = {'Rha' : (0.3,0.5,1.0), 'ara' : (1.0,0.5,0.3), 'IPTG' : (0.5,1.0,0.3)}

FLlist = {}
tidx = {}
for P in Pidxs: 
    FLlist[P] = []
    tidx[P] = []

for file in glob.glob("medida*.txt"):
    P = file.split(' ')[2].split('.')[0]
    tidx[P].append( float( file.split(' ')[1].split('.')[0] ) )
    FLlist[P].append(file)

for P in Pidxs: 
    Idx = np.argsort(tidx[P])
    FLlist[P] = np.array(FLlist[P])[Idx]

ODlist = []
for file in FLlist[P]:
    ODlist.append('OD'+file.split(' ')[1]+'.txt')

fldata = {}
for P in Pidxs:
    fldata[P] = LabLib.ReadFluor_timefmt_nanomed(FLlist[P])

In [3]:
for P in Pidxs:
    print '\n\n'
    display(HTML('<p style="font-size: 25pt;"><b>'+Pnames[P]+'</b></p>'))
    for ColN in ColumnNames.values():
        print 
        display(HTML('<p style="font-size: 13pt;"><b>--- ' + ColN + '</b></p>'))
        display( fldata[P][allCols(ColN)] )

        A01      A02      A03      A04      A05      A06      A07      A08       A09
0   751.726  794.078  727.452  771.491  856.548  875.459  866.930  934.860  1045.189
1   730.244  788.235  695.977  675.974  748.068  767.157  759.985  940.607   921.377
2   749.920  778.396  752.527  693.046  735.712  789.090  754.125  820.643   890.938
3   782.571  808.184  779.594  736.640  790.043  809.315  794.889  877.788   945.356
4   831.496  892.484  806.842  755.061  853.522  823.323  855.698  977.144  1012.349
5   832.979  883.714  801.338  806.136  855.023  850.294  876.243  970.328   980.509
6   831.688  859.572  800.137  778.902  852.377  908.255  945.360  912.678   948.439
7   779.349  812.832  759.498  787.555  815.301  898.906  939.872  863.454   874.567
8   776.457  784.583  743.341  794.794  805.677  843.384  940.992  859.844   863.602
9   803.000  782.325  758.539  891.204  820.002  843.704  962.292  874.413   866.118
10  796.680  780.895  755.224  884.641  816.057  812.120  925.023  864.200   859.830

         C01      C02       C03      C04      C05      C06       C07      C08       C09
0    983.243  959.493  1138.211  708.573  862.869  782.972  1075.215  958.104  1025.550
1   1025.367  844.026  1154.846  576.342  785.580  710.027   912.867  809.991   968.958
2    891.867  849.762   985.673  665.455  797.099  700.844   901.938  920.041   928.960
3    944.427  899.195  1057.978  715.207  846.579  744.592   961.030  936.267   955.465
4    981.224  868.655   993.692  840.471  946.634  922.630   955.157  898.116   997.231
5    943.132  834.142  1029.647  744.384  957.228  875.679   901.614  885.871   997.069
6    872.476  813.970  1003.600  831.802  985.209  871.842   907.898  945.327   985.941
7    835.472  744.812   989.946  810.567  950.696  796.212   853.493  834.154   934.435
8    802.998  780.349   951.248  805.052  948.610  819.397   844.664  874.733   940.082
9    805.398  780.135   869.847  735.190  876.993  848.653   894.389  832.072   880.299
10   810.532  786.959   852.152  766.197  875.962  782.230   857.468  818.042   858.698

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1052.176,945.591,1008.314,967.367,1302.820,1059.959,1220.759,1070.394,1314.108
1,1018.198,886.201,991.177,967.074,1125.239,955.666,1189.435,1018.383,1122.132
2,999.715,998.447,947.583,1003.001,1207.402,1102.302,1147.123,1050.698,1246.649
3,1128.970,1122.602,1087.450,1186.565,1444.572,1305.419,1319.895,1240.155,1359.187
4,1287.013,1197.674,1233.334,1543.861,1674.558,1576.124,1598.692,1606.668,1639.343
5,1333.627,1308.902,1401.965,1775.679,1921.161,1812.649,1750.626,1754.116,1887.140
6,1388.335,1381.350,1406.244,1995.079,2138.621,2041.258,1965.237,2075.592,2097.117
7,1442.550,1497.411,1497.505,2251.470,2338.350,2266.744,2145.030,2298.705,2272.739
8,1445.384,1465.964,1467.026,2324.087,2426.729,2312.839,2179.953,2350.916,2303.813
9,1476.842,1521.786,1535.615,2361.309,2439.194,2483.159,2296.884,2380.994,2326.344
10,1481.439,1494.051,1482.106,2362.334,2411.310,2463.465,2271.729,2403.073,2319.318

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,1030.010,803.408,902.952,703.017,832.020,786.693,949.858,890.820,768.851
1,911.014,761.360,891.210,676.494,753.302,693.946,943.703,934.747,634.567
2,988.696,831.645,839.155,633.271,915.567,823.850,883.074,991.324,877.607
3,954.953,803.700,876.926,681.971,892.303,831.104,853.694,931.667,958.065
4,966.479,796.227,960.659,707.515,714.875,819.399,1032.519,1057.532,1040.597
5,917.097,800.396,942.805,735.209,825.928,822.162,1016.746,1078.323,1056.167
6,911.091,912.672,842.558,821.568,839.958,815.012,1061.928,1052.664,995.616
7,964.462,1008.672,949.710,807.808,872.168,859.801,1055.225,1055.077,1019.407
8,1094.955,1091.126,1004.976,883.231,949.584,914.287,1080.002,1098.237,1125.541
9,1125.969,1198.484,1227.417,924.758,1175.453,1107.800,1152.135,1104.821,1245.423
10,1258.243,1270.369,1248.146,999.316,1197.656,1182.747,1153.521,1140.271,1306.613

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,949.445,746.122,911.956,790.587,937.324,754.348,1056.107,899.106,1140.416
1,934.893,757.897,866.973,616.644,980.640,728.062,919.890,817.116,1094.798
2,857.764,820.260,848.326,741.273,864.938,749.381,927.333,941.677,1028.104
3,902.819,904.870,883.939,704.935,918.143,740.126,951.507,954.127,1091.025
4,942.448,933.911,941.153,698.167,886.036,774.763,875.214,954.609,1104.642
5,980.836,964.129,911.439,714.912,926.821,771.430,856.882,972.881,1069.126
6,1034.591,1056.193,1033.487,712.643,838.787,758.597,881.735,895.127,930.503
7,1180.348,1203.522,1223.102,769.582,844.989,784.335,825.146,918.456,939.553
8,1224.563,1295.844,1267.932,844.828,905.046,847.745,948.492,995.101,994.230
9,1341.597,1364.212,1378.520,923.355,1018.718,922.021,1009.228,1100.265,1144.150
10,1379.145,1410.241,1424.607,1031.170,1070.793,996.518,1026.846,1171.651,1186.248

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,930.434,927.327,889.006,784.036,840.434,844.023,872.704,919.840,933.453
1,886.839,921.538,775.957,754.343,877.513,856.953,833.969,917.366,988.087
2,871.092,854.717,781.243,751.704,818.404,827.632,860.852,924.140,985.671
3,885.427,915.712,846.149,771.992,863.149,873.743,911.297,984.979,1048.391
4,934.976,948.809,870.043,816.489,909.945,933.269,912.575,1017.373,1083.892
5,958.469,935.566,883.595,832.567,926.273,952.595,962.237,1032.372,1104.989
6,951.242,922.610,903.152,826.567,921.970,934.636,984.401,1022.990,1078.808
7,1070.239,977.619,984.795,872.826,996.777,972.666,1034.687,1025.975,1092.753
8,1164.637,1035.615,1050.928,942.995,989.997,1026.179,1083.498,1076.967,1068.602
9,1251.410,1100.705,1116.701,1040.571,1118.379,1120.398,1162.699,1151.194,1145.637
10,1286.046,1134.987,1143.227,1098.255,1132.536,1158.357,1203.107,1196.737,1230.238

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,991.825,820.434,876.549,699.576,936.822,759.361,882.068,823.145,990.438
1,997.193,785.866,831.927,659.845,918.280,711.247,843.017,758.832,974.471
2,883.042,824.975,889.063,712.864,842.627,715.515,889.454,826.243,976.839
3,915.617,855.285,968.149,740.920,846.382,726.183,907.023,858.313,1047.334
4,1021.675,864.176,920.115,801.905,842.712,671.191,959.984,898.867,1006.114
5,993.533,858.854,943.096,735.018,831.573,699.725,1026.462,868.236,990.465
6,956.887,858.943,897.095,799.105,834.437,667.405,926.602,958.847,1082.260
7,929.627,930.626,981.174,793.449,877.279,750.064,947.873,987.406,1060.970
8,1086.184,1002.854,1047.096,860.770,967.597,826.911,1025.621,1016.684,1126.789
9,1128.854,1157.658,1197.161,908.029,1051.091,939.772,1179.723,1053.532,1123.915
10,1180.274,1216.605,1239.644,965.128,1090.371,1008.075,1212.441,1070.832,1143.177

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,985.785,894.884,753.163,780.558,915.630,965.744,839.782,1001.034,899.937
1,872.803,880.811,795.104,760.845,857.966,946.227,866.459,989.871,895.009
2,845.443,896.643,703.466,759.094,819.947,957.811,853.346,995.388,886.968
3,957.014,949.248,780.783,825.675,881.559,978.615,890.759,1070.146,978.654
4,925.664,968.146,875.632,898.864,914.715,1021.230,940.749,1103.008,986.634
5,925.252,965.860,812.230,899.285,944.059,1034.765,993.451,1142.176,989.701
6,968.435,992.990,913.788,878.932,922.092,1009.713,1026.031,1141.287,1005.546
7,1046.362,1124.498,913.763,934.281,993.450,978.691,1033.322,1180.790,1044.161
8,1159.062,1223.878,1079.336,1022.835,1038.048,1067.396,1128.764,1263.648,1096.880
9,1187.539,1323.900,1167.635,1166.702,1183.883,1165.173,1123.682,1361.890,1237.487
10,1328.048,1359.602,1269.577,1182.606,1235.588,1167.463,1166.233,1420.421,1296.662

        A01      A02      A03      A04      A05      A06       A07       A08       A09
0   879.295  757.290  840.600  718.166  864.262  869.382   985.894  1026.670   995.307
1   901.646  866.714  842.869  704.294  919.338  922.120  1030.230  1018.398  1055.040
2   732.764  759.803  736.019  612.416  739.729  928.515   922.599   866.208  1027.437
3   792.810  777.866  768.489  751.553  774.604  830.235   899.606   954.130   999.029
4   798.564  808.369  779.350  752.691  789.036  836.232   892.494   966.424   984.097
5   837.312  836.694  798.476  797.408  792.829  857.002   875.039  1001.788  1012.462
6   826.520  822.753  802.200  806.324  790.220  880.174   877.436   880.477  1038.427
7   829.428  849.360  821.867  715.105  784.937  875.275   849.612   831.995   983.683
8   849.138  863.028  830.669  828.193  771.229  898.383   853.182   939.971   970.577
9   869.962  892.692  854.198  774.884  809.162  959.521   866.683   848.195   977.102
10  850.393  899.251  865.359  822.703  820.032  959.289   876.840   921.705  1014.457

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1015.415,902.109,958.823,691.336,1131.185,823.789,1046.487,965.787,1137.066
1,1096.538,892.662,957.458,768.832,1226.558,830.855,1121.104,999.031,1211.827
2,850.539,766.892,888.429,527.343,875.658,729.484,949.744,975.907,1035.087
3,907.311,864.218,842.799,577.152,924.103,832.095,890.451,925.042,924.737
4,878.885,891.800,878.773,617.554,872.947,866.058,1010.765,985.053,1013.938
5,925.616,898.475,970.375,610.199,872.593,850.707,1028.177,989.123,964.908
6,886.048,787.135,880.568,603.196,863.345,738.771,996.162,1014.485,994.044
7,861.168,784.314,885.960,656.120,847.741,750.999,960.990,1025.259,948.411
8,901.498,827.307,875.630,591.978,881.433,792.337,1015.772,1013.254,977.265
9,884.992,890.206,863.815,677.895,901.784,745.019,878.506,1027.392,949.372
10,873.983,872.428,807.123,776.419,1009.948,890.973,878.605,1003.074,1083.220

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,993.491,1039.821,1049.579,1184.404,1371.617,1173.724,1145.135,1057.823,1425.060
1,1042.166,1041.572,1022.207,1247.098,1446.096,1198.553,1210.662,1144.269,1504.405
2,1200.453,1119.322,1025.481,1403.576,1664.787,1505.025,1387.763,1499.582,1596.788
3,1396.926,1357.085,1267.523,1854.282,1959.217,1922.926,1767.327,1852.459,2018.234
4,1517.766,1507.931,1358.829,2088.885,2278.158,2293.902,2086.277,2055.855,2397.314
5,1628.247,1639.968,1488.413,2408.705,2526.245,2503.968,2370.606,2366.981,2588.405
6,1715.219,1666.078,1492.030,2444.407,2654.613,2621.330,2454.720,2467.574,2735.090
7,1723.504,1604.623,1480.723,2448.921,2691.547,2636.194,2509.587,2497.718,2765.628
8,1789.716,1684.845,1570.099,2566.095,2844.299,2767.335,2678.516,2660.292,2990.094
9,1879.266,1795.586,1638.708,2764.513,2877.577,2817.540,2751.237,2810.158,2988.258
10,1908.730,1805.224,1703.563,2949.644,2994.482,2896.534,2854.301,3010.062,3107.137

        E01      E02       E03      E04       E05      E06       E07      E08       E09
0   694.767  744.833  1055.599  855.273  1029.206  627.700  1052.301  805.980   991.209
1   716.845  764.289  1080.584  871.706   991.613  636.765  1105.236  831.106  1039.048
2   722.181  718.017   845.891  695.246   937.979  615.416   819.009  823.205   887.805
3   662.970  777.464   886.706  844.788   915.845  599.780   854.294  870.875   889.171
4   754.781  942.893   818.635  702.335  1020.024  657.943   785.193  802.863   903.236
5   682.505  801.852   821.087  765.708   890.998  618.775   754.369  849.762   993.314
6   693.996  834.782   729.874  715.811   994.639  668.365   702.239  837.699  1002.289
7   686.978  897.508   671.163  716.609   992.603  665.856   708.977  845.328   982.176
8   699.114  856.240   868.243  665.673  1031.735  660.660   715.332  821.242   984.540
9   712.386  846.393   771.131  756.199   930.230  703.420   759.218  870.555  1027.759
10  694.192  864.071   657.122  753.093   876.630  669.272   757.750  874.983  1063.161

        D01      D02      D03      D04      D05      D06      D07       D08       D09
0   737.541  698.732  813.719  632.897  895.769  754.920  877.244  1074.698   954.544
1   674.907  741.192  904.242  623.458  884.986  731.080  956.811  1063.266   929.700
2   657.850  669.739  836.025  601.997  787.336  742.247  944.274   934.437   941.574
3   673.169  815.368  817.561  659.930  843.692  735.540  934.849   913.443   988.910
4   691.562  746.196  849.024  640.629  785.318  707.379  964.760   858.474   930.420
5   676.896  752.183  865.537  640.481  770.388  713.110  909.312   759.457  1045.164
6   682.436  740.475  801.955  648.505  761.241  767.033  887.588   769.034  1020.735
7   674.931  733.966  811.244  666.388  740.041  780.104  834.166   794.593  1030.659
8   649.113  829.448  805.805  662.199  738.510  721.675  862.173   745.609  1052.276
9   651.081  877.748  922.205  684.940  737.291  803.774  973.964   708.839   987.305
10  618.945  861.453  790.311  700.215  748.552  782.134  933.902   719.841   995.099

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,1190.752,999.581,1081.346,506.544,1066.383,954.074,1109.203,864.540,1071.299
1,1187.614,1021.668,1068.783,494.754,1024.622,1000.108,1089.827,934.693,1105.314
2,924.321,834.749,887.881,435.053,898.931,860.720,1044.621,643.959,849.493
3,976.212,889.306,806.565,433.841,990.103,912.156,910.410,755.748,947.313
4,1017.263,842.656,852.400,449.488,1068.332,862.019,1063.750,807.832,782.429
5,997.196,889.653,794.588,500.299,994.243,969.157,1020.972,902.913,1063.578
6,919.980,893.998,772.440,514.682,952.364,936.148,995.499,904.634,957.097
7,914.168,880.611,922.006,481.836,973.698,918.896,1033.389,863.668,1030.752
8,916.195,936.893,895.862,550.245,899.451,929.574,942.748,958.287,975.902
9,889.087,946.730,830.673,553.409,883.258,963.467,1038.968,922.341,1061.818
10,936.355,934.478,779.215,581.441,889.532,979.612,1086.625,968.362,1110.068

        F01      F02      F03      F04       F05      F06      F07       F08       F09
0   901.732  840.472  881.173  829.093  1008.087  902.173  563.432  1058.289  1045.188
1   937.923  829.468  783.616  926.223  1040.207  947.864  525.749  1122.711  1177.798
2   857.141  700.307  813.845  781.846   937.531  746.937  589.731   844.087  1105.444
3   850.801  740.174  739.195  804.661   882.300  829.172  584.099   790.593  1057.897
4   838.141  738.345  823.782  812.729   934.387  849.541  571.814   943.310  1072.051
5   763.835  754.175  775.165  799.774   881.565  926.911  708.679   778.414   929.585
6   771.368  790.844  723.529  846.843   870.178  902.280  725.834   890.094   968.725
7   705.224  691.571  662.520  824.252   848.106  813.873  738.489   892.410  1020.760
8   709.332  710.746  742.026  842.451   826.947  927.728  771.411   834.793   905.086
9   664.923  703.654  677.110  848.890   907.661  884.520  684.209   883.497  1023.822
10  726.981  730.232  671.991  885.484   905.434  909.670  723.940   944.210  1006.846

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,917.801,897.431,1126.881,846.862,954.962,890.268,924.532,1096.256,1057.855
1,1002.183,901.100,1158.888,855.841,923.093,916.932,972.014,1128.966,991.800
2,934.913,821.672,1109.814,867.153,862.859,869.247,859.298,1049.477,925.960
3,954.128,834.690,1186.668,890.170,887.335,967.938,893.389,1103.858,986.711
4,1020.582,867.191,1220.275,946.155,957.047,973.711,879.229,1085.523,984.941
5,982.674,798.283,43.550,862.798,909.848,988.073,920.616,1099.401,1045.885
6,975.079,764.946,41.166,862.751,934.518,1013.386,918.484,1092.546,1007.756
7,925.662,738.473,40.300,874.173,937.937,987.902,905.301,1077.870,1007.990
8,973.193,757.524,59.214,816.664,940.837,1011.786,904.892,1081.612,995.999
9,934.772,730.610,45.361,803.605,956.814,1023.658,907.059,1114.700,975.839
10,909.345,706.035,44.628,784.986,872.071,1036.443,958.205,1064.308,960.796

        A01      A02      A03      A04      A05      A06      A07      A08      A09
0   819.760  774.940  722.010  680.395  684.051  727.851  766.392  937.081  834.044
1   932.863  824.190  762.042  750.783  740.608  750.616  764.733  928.064  870.520
2   784.429  848.114  732.985  757.771  708.763  759.871  768.951  889.468  849.992
3   807.070  834.750  746.020  695.738  741.155  845.393  826.497  892.851  945.504
4   843.379  889.030  784.448  760.810  794.227  849.848  830.886  903.937  953.364
5   886.712  890.105  796.896  846.683  807.958  827.579  856.137  982.811  980.677
6   914.690  855.562  834.735  864.467  847.044  898.737  898.664  898.414  980.189
7   855.610  908.897  826.132  791.940  855.830  927.073  912.095  899.720  961.234
8   832.309  894.322  813.457  839.147  850.741  874.545  893.965  894.025  912.836
9   807.059  914.940  802.106  842.606  847.157  957.773  887.451  910.374  895.866
10  823.489  892.301  797.493  808.400  864.067  936.357  890.513  847.493  873.064
11  853.729  828.204  799.713  869.893  869.076  888.451  891.121  851.883  878.399

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1073.549,839.304,948.462,678.320,922.691,745.073,1120.035,1077.379,1149.905
1,1110.631,880.688,968.339,706.120,945.710,844.948,1227.991,1104.158,1198.157
2,1027.147,903.556,968.023,722.167,934.122,782.398,1185.559,1079.241,1133.563
3,1092.948,873.853,897.530,771.755,1030.019,786.316,1146.269,1134.635,1280.983
4,1152.025,953.764,1050.229,863.256,1112.200,873.131,1161.041,1201.746,1279.593
5,1193.185,1040.971,1053.935,844.208,1048.478,903.206,1155.148,1166.774,1260.028
6,1089.327,978.245,1098.937,885.706,1026.080,896.234,1218.326,1246.890,1237.435
7,1109.500,998.208,1089.151,903.497,1026.730,914.096,1168.547,1228.500,1319.134
8,1164.310,1079.899,1034.751,902.252,1076.249,1001.248,1135.262,1210.941,1263.035
9,1177.561,1109.903,1132.326,910.309,1121.479,1038.540,1129.225,1153.048,1235.023
10,1302.467,1212.362,1327.367,1146.401,1197.194,1163.396,1230.864,1256.703,1194.341
11,1528.549,1450.118,1439.620,1265.501,1404.029,1403.514,1262.900,1270.483,1270.074

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1020.025,854.441,873.437,958.615,1111.213,1046.982,1045.121,965.935,1110.452
1,1088.577,903.003,910.911,1004.096,1186.096,1055.021,1112.955,1026.154,1211.418
2,1058.213,919.242,986.927,1079.632,1157.006,1264.782,1170.984,1101.294,1227.331
3,1234.656,1106.426,1037.662,1266.334,1425.171,1354.114,1341.371,1350.828,1446.152
4,1383.671,1263.421,1171.250,1567.668,1748.315,1577.054,1602.843,1622.113,1674.040
5,1384.472,1296.264,1299.348,1788.651,1923.496,1842.351,1842.255,1881.300,1891.556
6,1412.867,1424.390,1351.368,1925.862,2146.980,2008.006,2017.974,1955.396,2099.044
7,1488.653,1447.131,1375.632,2065.751,2211.404,2071.930,2084.768,2124.415,2162.436
8,1482.177,1448.180,1396.522,2146.560,2248.391,2133.283,2182.514,2187.748,2242.676
9,1518.295,1415.335,1453.378,2138.996,2244.589,2142.266,2295.238,2179.551,2261.423
10,1492.318,1506.624,1461.513,2183.129,2283.508,2207.441,2203.897,2192.629,2333.289
11,1523.905,1517.064,1562.725,2390.118,2361.654,2331.610,2354.773,2316.030,2361.914

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,1031.585,807.430,969.768,686.761,815.000,815.802,1035.099,1273.316,1241.670
1,1080.611,908.176,1016.958,724.005,916.430,784.839,1171.452,1268.837,1346.024
2,981.313,771.188,903.069,700.656,803.981,788.293,1020.386,1163.155,1199.916
3,1098.934,837.898,927.053,695.184,877.698,824.360,1064.078,1201.683,1151.502
4,1101.860,916.410,922.035,802.137,950.671,892.001,1219.409,1300.411,1310.391
5,1018.003,923.440,993.118,861.912,990.903,900.066,1081.153,1242.866,1307.442
6,1161.764,985.058,977.146,867.944,1034.041,947.035,1167.647,1235.473,1352.522
7,1181.888,997.652,1012.588,868.706,1111.646,922.697,1275.694,1242.910,1358.395
8,1142.889,1044.484,1220.264,945.221,987.041,1002.936,1160.893,1301.188,1344.934
9,1254.811,1079.336,1242.835,947.375,1059.759,1019.423,1179.638,1304.360,1285.296
10,1432.595,1358.479,1369.444,1098.695,1328.282,1137.176,1204.474,1304.421,1427.279
11,1520.589,1489.163,1566.659,1313.926,1467.178,1383.750,1369.489,1323.655,1328.723

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,1014.473,866.523,990.731,658.978,898.812,691.993,1080.864,1096.487,1160.921
1,1101.971,906.221,1117.324,719.255,1014.183,758.713,1095.792,1120.613,1226.694
2,969.201,924.702,853.494,567.559,872.153,649.951,1098.773,1117.133,1035.793
3,958.499,831.424,1027.911,646.793,881.566,763.563,1172.898,1115.066,1019.840
4,1002.997,890.644,950.042,699.611,938.761,796.857,1172.359,1114.717,1164.187
5,1026.523,962.840,868.464,754.693,1010.877,811.610,1111.446,1144.163,1263.655
6,1110.052,939.442,1125.824,819.715,959.933,906.553,1226.626,1179.206,1145.420
7,1041.440,979.356,1142.167,796.325,957.504,956.170,1224.374,1144.467,1248.665
8,1139.708,1123.007,1129.045,980.389,1015.917,1000.826,1139.494,1158.820,1193.900
9,1153.158,1111.426,1259.685,895.921,1223.628,1030.707,1271.178,1223.361,1261.708
10,1465.665,1286.072,1295.637,999.201,1189.410,1183.820,1375.473,1235.035,1252.873
11,1672.631,1464.210,1359.662,1211.420,1489.796,1338.057,1264.602,1360.841,1403.142

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,1103.532,815.385,909.463,708.029,938.980,772.920,1061.410,1043.622,1214.298
1,1163.634,944.856,951.337,761.177,974.776,813.625,1112.506,1108.673,1212.670
2,1014.948,888.706,885.468,762.988,1004.437,737.432,1017.791,1001.312,1116.881
3,1028.424,914.771,1024.529,783.727,958.814,845.976,1125.366,1009.848,1132.482
4,1072.776,1009.055,1067.512,828.675,1018.067,968.075,1194.427,1116.949,1250.405
5,1111.442,1038.603,1013.567,893.746,1068.693,1006.712,1142.189,1210.022,1357.155
6,1151.689,1027.023,1096.483,920.941,1024.479,1005.642,1263.682,1230.451,1230.255
7,1147.095,1071.474,1191.030,928.220,1068.149,969.246,1220.144,1091.899,1272.697
8,1145.752,1174.757,1180.504,956.083,1172.988,1060.942,1188.092,1188.248,1267.975
9,1247.903,1188.818,1331.453,984.750,1233.505,1103.780,1222.814,1201.423,1361.868
10,1406.998,1337.494,1496.544,1165.174,1334.340,1240.594,1293.231,1290.151,1358.136
11,1657.069,1592.364,1692.419,1374.837,1542.290,1434.260,1369.903,1416.859,1549.500

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,1065.860,827.063,897.073,678.755,902.010,697.931,1331.860,959.063,1522.141
1,1132.969,891.041,935.704,747.072,963.161,732.608,1347.364,1000.660,1603.721
2,1008.577,854.270,836.607,682.281,910.098,613.920,1083.557,833.595,1124.768
3,984.818,826.599,894.139,706.421,988.235,747.449,1075.482,996.237,1132.810
4,1113.658,868.751,911.762,826.392,1029.207,801.887,1135.316,1054.551,1305.669
5,1085.780,927.397,956.073,809.406,1012.057,917.267,1094.406,1092.991,1254.441
6,1096.876,995.923,1067.828,902.471,1000.314,902.308,1192.289,1177.692,1327.006
7,1188.803,956.234,1110.798,900.180,1128.095,905.173,1230.279,1089.229,1227.111
8,1224.531,1114.744,1114.518,916.514,1082.509,1034.469,1261.008,1112.810,1293.048
9,1344.129,1131.098,1182.698,933.648,1208.859,1090.466,1174.985,1168.181,1371.609
10,1418.873,1277.057,1436.946,1145.842,1274.978,1139.188,1296.020,1280.149,1341.456
11,1626.070,1632.582,1650.019,1325.308,1466.218,1430.776,1445.967,1322.680,1413.124

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,1054.997,1090.057,990.228,786.082,1062.590,901.505,1201.937,1213.961,1275.644
1,1065.158,1097.181,978.837,823.024,1056.505,943.570,1143.258,1269.339,1318.834
2,885.886,1041.012,985.918,810.155,904.681,930.374,1047.300,1209.543,1250.462
3,1036.092,992.599,977.010,829.762,902.122,959.282,1107.104,1236.680,1194.404
4,1062.863,1058.108,1014.828,921.460,945.391,1051.980,1203.895,1309.971,1255.478
5,1057.582,1080.958,1051.542,942.647,977.679,1087.209,1182.124,1372.178,1296.040
6,1144.441,1109.124,1040.302,990.801,1033.988,1162.486,1208.004,1394.901,1311.291
7,1145.973,1117.668,1100.049,1012.663,1050.673,1173.945,1212.925,1418.271,1304.084
8,1172.531,1200.905,1215.091,1100.531,1111.037,1243.803,1230.624,1421.295,1289.175
9,1277.457,1286.564,1254.011,1147.264,1200.380,1288.753,1263.358,1448.990,1322.674
10,1462.626,1499.887,1413.095,1284.603,1324.322,1410.229,1296.446,1487.103,1376.958
11,1587.854,1716.610,1639.179,1465.484,1558.143,1624.189,1410.445,1582.387,1481.413