In [1]:
%matplotlib inline

import sys
sys.path.insert(0, '../')
import BrasilUSP_iGEM_LabLib as LabLib

import numpy as np
import glob
from IPython.display import display, HTML


ColumnNames = {
    'A' : "-control",
    'B' : "+control",
    'C' : "J23106",
    'D' : "J23117",
    'E' : "ZeroInd1",
    'F' : "ZeroInd2",
    'G' : "Induced1",
    'H' : "Induced2"
}

Pcolors = {'Rha amp' : (1.0,0.5,0.3), 'Lac amp' : (0.3,0.5,1.0), 'Lac clf' : (0.3,1.0,0.5)}
Pcolors_light = {'Rha amp' : (1.0,0.8,0.6), 'Lac amp' : (0.6,0.8,1.0), 'Lac clf' : (0.6,1.0,0.8)}


MeaningColNames = {v : k for k, v in ColumnNames.items()}

def allCols(labels, r0 = 1, rf = 9):
    if type(labels) != list: 
        labels = [labels]
    cols = []
    for label in labels:
        row  = MeaningColNames[label]
        for j in range(r0,rf+1):
            cols.append(row + '0' + str(j))
    return cols

In [2]:
FLlist = []
ODlist = []

for j in range(9):
    FLlist.append( 'Fluorescence/Fluo ' + str(j) + '.txt' )
    ODlist.append( 'OD/OD ' + str(j) + '.txt' )


fldata = LabLib.ReadFluor_timefmt_nanomed(FLlist)
oddata = LabLib.ReadFluor_timefmt_nanomed(ODlist)

In [3]:
for ColN in ColumnNames.values():
    print 
    display(HTML('<p style="font-size: 13pt;"><b>--- ' + ColN + '</b></p>'))
    display(HTML('<p style="font-size: 12pt;">- Fluorescence (green)</p>'))
    display( fldata[allCols(ColN)] )
    display(HTML('<p style="font-size: 12pt;">- OD</p>'))
    display( oddata[allCols(ColN)] )

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,640.231,733.842,713.911,722.936,679.395,695.576,742.541,829.073,982.955
1,650.724,757.078,717.807,714.403,697.980,706.559,757.134,846.948,951.730
2,642.982,697.624,675.377,686.211,698.965,709.513,769.018,859.699,1101.527
3,653.853,707.994,674.043,681.896,703.262,727.921,782.247,849.652,962.020
4,659.416,712.038,682.801,684.785,711.336,721.195,789.230,853.044,1138.080
5,669.702,720.957,693.370,693.275,720.269,766.224,821.493,895.882,1134.086
6,671.815,708.080,687.733,695.263,724.382,746.208,814.814,905.738,1111.522
7,688.106,731.539,697.921,705.948,745.462,773.737,845.472,935.689,1073.046

      A01     A02     A03     A04     A05     A06     A07     A08     A09
0  0.1764  0.2155  0.1685  0.1723  0.1659  0.1817  0.1922  0.1740  0.1779
1  0.4332  0.4884  0.4209  0.4371  0.4219  0.4684  0.4749  0.4412  0.4540
2  0.5840  0.6502  0.5975  0.6191  0.6014  0.6883  0.6991  0.6779  0.6767
3  0.6909  0.7740  0.7190  0.7389  0.7207  0.8037  0.8199  0.7959  0.7815
4  0.7928  0.8508  0.8322  0.8120  0.7984  0.8669  0.9014  0.8665  0.8497
5  0.8552  0.9369  0.8997  0.8701  0.8637  0.9252  0.9566  0.9209  0.9005
6  0.8831  0.9441  0.9174  0.8927  0.8882  0.9574  0.9927  0.9587  0.9363
7  0.9028  0.9723  0.9503  0.9254  0.9326  0.9944  1.0262  0.9950  0.9707

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,741.128,752.091,735.540,607.039,764.976,708.959,841.740,923.461,959.097
1,737.810,711.966,755.112,625.555,776.491,717.180,841.685,880.830,959.098
2,751.931,689.687,733.212,609.932,762.984,720.978,810.936,871.971,998.913
3,751.201,698.826,734.712,619.604,768.635,726.009,804.646,888.668,983.626
4,754.898,695.620,748.796,618.882,768.089,724.656,796.394,885.559,997.969
5,772.976,723.615,762.072,637.340,764.394,743.504,827.182,914.621,1021.496
6,769.763,716.426,750.251,625.137,766.975,729.028,811.706,890.940,1008.306
7,774.032,731.297,751.638,639.360,778.019,738.332,815.066,919.794,1010.010

      C01     C02     C03     C04     C05     C06     C07     C08     C09
0  0.1537  0.1768  0.1758  0.1862  0.1762  0.1884  0.1600  0.1506  0.1643
1  0.3546  0.3648  0.4111  0.4132  0.3806  0.3901  0.3838  0.3664  0.4032
2  0.5979  0.5631  0.5945  0.5982  0.5467  0.6089  0.5669  0.5184  0.6218
3  0.7245  0.6834  0.7269  0.7111  0.6702  0.7394  0.6914  0.6343  0.7539
4  0.8171  0.7486  0.7761  0.7872  0.7699  0.8231  0.7787  0.7279  0.8389
5  0.8623  0.7945  0.8305  0.8362  0.8249  0.8753  0.8367  0.7773  0.8970
6  0.8825  0.8104  0.8489  0.8545  0.8599  0.8992  0.8669  0.8106  0.9196
7  0.9071  0.8375  0.8802  0.8822  0.8964  0.9361  0.8961  0.8405  0.9591

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,940.165,921.559,899.236,801.975,974.854,911.621,1005.043,995.469,1202.860
1,1149.640,1090.762,1057.625,982.775,1156.422,1145.570,1178.297,1307.121,1514.033
2,1257.515,1155.392,1141.520,1055.557,1226.665,1258.574,1313.726,1420.388,1652.034
3,1392.686,1329.487,1264.433,1249.914,1384.556,1369.881,1412.569,1511.200,1761.329
4,1477.517,1389.422,1323.903,1318.912,1454.476,1439.503,1488.027,1568.532,1839.262
5,1571.028,1493.187,1409.297,1397.891,1541.416,1525.848,1582.551,1666.447,1961.952
6,1627.921,1509.625,1440.140,1440.809,1568.745,1562.289,1612.781,1683.116,2002.049
7,1686.152,1574.100,1507.026,1526.134,1654.245,1650.531,1689.179,1776.818,2053.895

      B01     B02     B03     B04     B05     B06     B07     B08     B09
0  0.1764  0.1861  0.1925  0.1780  0.1751  0.1903  0.1867  0.1845  0.1694
1  0.4179  0.4588  0.4198  0.4024  0.4315  0.4122  0.4182  0.4327  0.4142
2  0.6046  0.6128  0.6182  0.6152  0.6239  0.6320  0.6354  0.6410  0.6353
3  0.7239  0.7367  0.7342  0.7280  0.7525  0.7441  0.7523  0.7510  0.7552
4  0.8156  0.8398  0.8181  0.8184  0.8346  0.8302  0.8381  0.8388  0.8469
5  0.8814  0.8904  0.8591  0.8602  0.8926  0.8791  0.8922  0.8896  0.8945
6  0.8998  0.9049  0.8938  0.8865  0.9210  0.9064  0.9258  0.9195  0.9302
7  0.9317  0.9277  0.9270  0.9262  0.9593  0.9323  0.9570  0.9462  0.9604

  E01 E02 E03 E04 E05 E06 E07 E08 E09
0
1
2
3
4
5
6
7

      E01     E02     E03     E04     E05     E06     E07     E08     E09
0  0.1752  0.2058  0.1760  0.2069  0.2222  0.2159  0.2712  0.2147  0.1939
1  0.4311  0.4472  0.4236  0.4401  0.4462  0.4446  0.5367  0.5110  0.4884
2  0.6794  0.6515  0.6467  0.6505  0.6368  0.6364  0.7351  0.7105  0.7061
3  0.8149  0.7672  0.7866  0.7791  0.7687  0.7514  0.8531  0.8429  0.8207
4  0.8749  0.8347  0.8563  0.8614  0.8546  0.8215  0.9151  0.9166  0.8884
5  0.9302  0.8748  0.9069  0.9049  0.8984  0.8720  0.9631  0.9654  0.9207
6  0.9497  0.8949  0.9366  0.9300  0.9309  0.8963  0.9943  0.9958  0.9608
7  0.9872  0.9297  0.9684  0.9644  0.9658  0.9310  1.0234  1.0319  1.0030

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,701.508,776.623,712.837,604.191,746.089,711.136,841.611,1057.423,996.022
1,741.037,818.471,728.483,627.270,781.861,737.772,883.712,1075.646,1009.039
2,715.782,811.674,739.650,616.034,774.641,733.200,877.005,1069.968,1033.163
3,736.451,842.298,759.470,631.922,781.979,752.694,888.809,1076.803,1055.792
4,735.524,823.232,769.018,646.511,787.843,752.491,899.096,1076.082,1058.661
5,759.250,838.936,790.191,658.604,807.981,777.597,926.097,1088.848,1055.396
6,751.258,817.584,782.213,651.715,801.342,761.539,914.520,1078.427,1060.436
7,759.151,824.009,785.447,656.313,804.342,772.533,925.335,1072.395,1067.677

      D01     D02     D03     D04     D05     D06     D07     D08     D09
0  0.1691  0.1642  0.1620  0.1625  0.1674  0.2354  0.1706  0.1729  0.2051
1  0.3742  0.3486  0.3536  0.3382  0.3483  0.4239  0.3917  0.4071  0.4496
2  0.6002  0.5433  0.5494  0.5446  0.5602  0.5812  0.5776  0.6077  0.6502
3  0.7428  0.6721  0.6954  0.6686  0.7077  0.7049  0.7163  0.7445  0.7771
4  0.8172  0.7583  0.7771  0.7459  0.7902  0.7614  0.7977  0.8286  0.8627
5  0.8786  0.8067  0.8398  0.7965  0.8474  0.8217  0.8509  0.8865  0.9143
6  0.8872  0.8349  0.8523  0.8244  0.8740  0.8417  0.8839  0.9083  0.9368
7  0.9244  0.8600  0.8943  0.8566  0.9173  0.8719  0.9149  0.9509  0.9812

  G01 G02 G03 G04 G05 G06 G07 G08 G09
0
1
2
3
4
5
6
7

      G01     G02     G03     G04     G05     G06     G07     G08     G09
0  0.2313  0.2160  0.2293  0.1860  0.1882  0.2443  0.2216  0.2428  0.2067
1  0.5254  0.5055  0.4801  0.4330  0.4415  0.4732  0.4924  0.5203  0.4810
2  0.7247  0.6812  0.6646  0.6319  0.6513  0.6536  0.6953  0.7219  0.6920
3  0.8761  0.8126  0.7874  0.7613  0.7799  0.7808  0.8285  0.8609  0.8170
4  0.9326  0.8592  0.8649  0.8462  0.8582  0.8608  0.9040  0.9352  0.8877
5  0.9800  0.9040  0.9150  0.8942  0.9149  0.9160  0.9546  0.9885  0.9036
6  1.0006  0.9174  0.9364  0.9230  0.9423  0.9469  0.9923  1.0239  0.9551
7  1.0473  0.9588  0.9799  0.9623  0.9795  0.9838  1.0312  1.0685  0.9998

  F01 F02 F03 F04 F05 F06 F07 F08 F09
0
1
2
3
4
5
6
7

      F01     F02     F03     F04     F05     F06     F07     F08     F09
0  0.2218  0.1899  0.1865  0.1982  0.2001  0.2319  0.2333  0.2528  0.2227
1  0.5010  0.4362  0.4433  0.4349  0.4260  0.4755  0.4986  0.5187  0.5028
2  0.7038  0.6280  0.6375  0.6446  0.6282  0.6852  0.7077  0.7194  0.7028
3  0.8251  0.7453  0.7808  0.7760  0.7459  0.8155  0.8382  0.8488  0.8152
4  0.8853  0.8165  0.8509  0.8611  0.8099  0.8938  0.9012  0.9156  0.8738
5  0.9296  0.8703  0.9004  0.9053  0.8627  0.9452  0.9530  0.9612  0.9015
6  0.9678  0.9013  0.9219  0.9301  0.8847  0.9698  0.9818  0.9837  0.9489
7  0.9998  0.9285  0.9568  0.9647  0.9205  1.0054  1.0281  1.0191  0.9876

  H01 H02 H03 H04 H05 H06 H07 H08 H09
0
1
2
3
4
5
6
7

      H01     H02     H03     H04     H05     H06     H07     H08     H09
0  0.1900  0.2372  0.2316  0.1830  0.1827  0.1767  0.2128  0.2162  0.2277
1  0.4287  0.5307  0.5030  0.4218  0.4270  0.4019  0.4955  0.4744  0.5055
2  0.5848  0.7207  0.7250  0.6234  0.6436  0.6263  0.7103  0.6926  0.7139
3  0.7339  0.8496  0.8691  0.7662  0.7742  0.7799  0.8445  0.8245  0.8378
4  0.7843  0.9113  0.9510  0.8327  0.8545  0.8639  0.9114  0.8934  0.9026
5  0.8567  0.9659  0.9927  0.8907  0.9040  0.9066  0.9656  0.9389  0.9383
6  0.8815  0.9807  1.0102  0.9222  0.9392  0.9503  1.0043  0.9780  0.9896
7  0.9241  1.0295  1.0665  0.9625  0.9893  0.9747  1.0546  1.0186  1.0392