In [1]:
%matplotlib inline

import sys
sys.path.insert(0, '../../')
import BrasilUSP_iGEM_LabLib as LabLib

import numpy as np
import glob
from IPython.display import display, HTML


ColumnNames = { 
    'Rha amp' : {
    'A' : "-control",
    'B' : "+control",
    'C' : "ZeroC",
    'D' : "C1",
    'E' : "C2",
    'F' : "C3",
    'G' : "C4",
    'H' : "LB",
    },
    'Lac amp' : {
    'A' : "-control",
    'B' : "+control",
    'C' : "ZeroC",
    'D' : "C1",
    'E' : "C2",
    'F' : "C3",
    'G' : "C4",
    'H' : "C5",
    }
}

ColumnNames['Lac clf'] = ColumnNames['Lac amp']

Pidxs = ['Rha amp', 'Lac amp', 'Lac clf']
Pcolors = {'Rha amp' : (1.0,0.5,0.3), 'Lac amp' : (0.3,0.5,1.0), 'Lac clf' : (0.3,1.0,0.5)}
Pcolors_light = {'Rha amp' : (1.0,0.8,0.6), 'Lac amp' : (0.6,0.8,1.0), 'Lac clf' : (0.6,1.0,0.8)}


MeaningColNames = {}
for P in Pidxs:
    MeaningColNames[P] = {v : k for k, v in ColumnNames[P].items()}

def allCols(P, labels, r0 = 1, rf = 9):
    if type(labels) != list: 
        labels = [labels]
    cols = []
    for label in labels:
        row  = MeaningColNames[P][label]
        for j in range(r0,rf+1):
            cols.append(row + '0' + str(j))
    return cols

In [2]:
FLlist = {}
tidx = {}
for P in Pidxs: 
    FLlist[P] = []
    tidx[P] = []


for P in Pidxs:
    for file in glob.glob("fluorescencia/t1 p"+P+"/*.txt"):
        tidx[P].append( float( file.split(' ')[5].split('.')[0] ) )
        FLlist[P].append(file)

for P in Pidxs: 
    Idx = np.argsort(tidx[P])
    FLlist[P] = np.array(FLlist[P])[Idx]

oddata = {}
for P in Pidxs:
    ODlist = []
    for j in range(10):
        PP = P.split(' ')[0]
        ODlist.append("OD/od p"+PP+" teste 1/OD "+str(j)+" p"+PP+" t1.txt")
    
    oddata[P] = LabLib.ReadFluor_timefmt_nanomed(ODlist, nr_header=2)


fldata = {}
for P in Pidxs:
    fldata[P] = LabLib.ReadFluor_timefmt_nanomed(FLlist[P])

fldata_rfp = {}
for P in Pidxs:
    fldata_rfp[P] = LabLib.ReadFluor_timefmt_nanomed(FLlist[P], datarow=2)

In [3]:
for P in Pidxs:
    print '\n\n'
    display(HTML('<p style="font-size: 25pt;"><b>'+P+'</b></p>'))
    for ColN in ColumnNames[P].values():
        print 
        display(HTML('<p style="font-size: 13pt;"><b>--- ' + ColN + '</b></p>'))
        display(HTML('<p style="font-size: 12pt;">- Green</p>'))
        display( fldata[P][allCols(P,ColN)] )
        display(HTML('<p style="font-size: 12pt;">- Red</p>'))
        display( fldata[P][allCols(P,ColN)] )
        display(HTML('<p style="font-size: 12pt;">- OD</p>'))
        display( oddata[P][allCols(P,ColN)] )

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,1030.771,848.439,897.047,779.160,827.326,780.159,846.848,925.043,989.600
1,976.210,882.412,994.888,770.793,799.076,810.437,810.879,929.106,1001.081
2,878.629,766.203,1154.191,748.566,782.868,761.751,774.029,869.565,946.644
3,827.958,819.835,915.710,708.725,798.596,816.513,783.605,847.756,971.120
4,723.841,724.597,717.091,725.473,785.249,787.034,805.418,863.598,991.954
5,1011.523,811.903,640.849,763.465,849.946,819.641,852.646,944.141,1042.911
6,1034.300,878.148,793.524,751.776,878.679,879.740,910.414,965.665,1097.336
7,1017.236,887.081,719.297,734.713,867.087,863.406,879.557,1001.763,1090.147
8,873.639,846.244,617.595,734.398,815.794,802.522,872.286,960.198,1087.573

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,1030.771,848.439,897.047,779.160,827.326,780.159,846.848,925.043,989.600
1,976.210,882.412,994.888,770.793,799.076,810.437,810.879,929.106,1001.081
2,878.629,766.203,1154.191,748.566,782.868,761.751,774.029,869.565,946.644
3,827.958,819.835,915.710,708.725,798.596,816.513,783.605,847.756,971.120
4,723.841,724.597,717.091,725.473,785.249,787.034,805.418,863.598,991.954
5,1011.523,811.903,640.849,763.465,849.946,819.641,852.646,944.141,1042.911
6,1034.300,878.148,793.524,751.776,878.679,879.740,910.414,965.665,1097.336
7,1017.236,887.081,719.297,734.713,867.087,863.406,879.557,1001.763,1090.147
8,873.639,846.244,617.595,734.398,815.794,802.522,872.286,960.198,1087.573

      A01     A02     A03     A04     A05     A06     A07     A08     A09
0  0.1552  0.1394  0.1509  0.1412  0.1445  0.1379  0.1424  0.1383  0.1350
1  0.2115  0.2133  0.2306  0.2226  0.2153  0.2221  0.2225  0.2221  0.2377
2  0.3267  0.3247  0.3666  0.3301  0.3232  0.3428  0.3395  0.3309  0.3523
3  0.4214  0.4098  0.4585  0.4045  0.4126  0.4301  0.4186  0.4210  0.4277
4  0.5200  0.4759  0.5326  0.4616  0.4550  0.4621  0.4522  0.4715  0.4754
5  0.5604  0.5967  0.6889  0.6003  0.5845  0.5916  0.5750  0.5895  0.5872
6  0.6467  0.6365  0.7187  0.6303  0.6428  0.6518  0.6434  0.6774  0.6563
7  0.6665  0.6425  0.7241  0.6286  0.6213  0.6513  0.6355  0.6464  0.6159
8  0.6973  0.6834  0.7742  0.6624  0.6569  0.6727  0.6312  0.6736  0.6072

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,968.541,889.488,830.442,717.230,855.188,840.362,983.230,924.434,938.845
1,978.030,789.982,657.791,720.225,744.593,732.289,894.073,903.422,969.214
2,1044.303,795.236,534.324,681.232,784.603,704.708,867.050,903.754,930.950
3,854.260,714.944,717.743,677.074,870.043,555.238,823.320,914.170,1006.495
4,848.556,753.556,654.700,606.762,842.426,591.469,879.356,923.328,957.494
5,934.170,785.921,772.371,623.613,894.525,592.176,884.760,901.159,963.972
6,962.303,686.591,803.945,657.079,853.680,598.172,884.367,933.494,977.736
7,912.557,702.980,665.158,648.536,780.274,612.463,841.125,950.324,1057.863
8,947.439,734.410,752.352,515.627,785.306,629.397,862.936,917.431,987.332

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,968.541,889.488,830.442,717.230,855.188,840.362,983.230,924.434,938.845
1,978.030,789.982,657.791,720.225,744.593,732.289,894.073,903.422,969.214
2,1044.303,795.236,534.324,681.232,784.603,704.708,867.050,903.754,930.950
3,854.260,714.944,717.743,677.074,870.043,555.238,823.320,914.170,1006.495
4,848.556,753.556,654.700,606.762,842.426,591.469,879.356,923.328,957.494
5,934.170,785.921,772.371,623.613,894.525,592.176,884.760,901.159,963.972
6,962.303,686.591,803.945,657.079,853.680,598.172,884.367,933.494,977.736
7,912.557,702.980,665.158,648.536,780.274,612.463,841.125,950.324,1057.863
8,947.439,734.410,752.352,515.627,785.306,629.397,862.936,917.431,987.332

      C01     C02     C03     C04     C05     C06     C07     C08     C09
0  0.1793  0.1754  0.2080  0.1741  0.1868  0.1846  0.1754  0.1726  0.1757
1  0.2800  0.2697  0.2946  0.2543  0.2756  0.2762  0.2653  0.2615  0.2796
2  0.3719  0.3669  0.3960  0.3617  0.3743  0.3696  0.3644  0.3605  0.3664
3  0.4454  0.4307  0.4691  0.4458  0.4620  0.4457  0.4441  0.4363  0.4523
4  0.4806  0.4629  0.5059  0.4661  0.4856  0.4950  0.4883  0.4709  0.4915
5  0.5054  0.4819  0.5540  0.5074  0.5203  0.5134  0.5099  0.4967  0.5196
6  0.5337  0.5095  0.5506  0.5248  0.5304  0.5251  0.5226  0.5136  0.5290
7  0.5619  0.5230  0.5600  0.5393  0.5450  0.5373  0.5425  0.5352  0.5547
8  0.5585  0.5358  0.5707  0.5388  0.5545  0.5429  0.5557  0.5510  0.5702

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1389.165,1334.379,1224.654,1080.176,1248.359,1234.585,1306.123,1333.406,1638.310
1,1452.013,1350.845,1331.912,1213.960,1411.248,1309.355,1364.308,1416.224,1646.810
2,1561.225,1396.874,1428.011,1314.490,1441.500,1387.449,1394.450,1436.290,1627.310
3,1714.172,1214.841,1444.770,1400.063,1496.046,1446.772,1507.782,1577.300,1677.599
4,1630.382,1290.673,1481.622,1383.914,1543.703,1505.512,1559.610,1547.285,1838.155
5,1891.014,1516.221,1642.670,1523.987,1653.264,1738.953,1682.959,1657.109,1834.376
6,1953.856,1753.065,1597.942,1616.466,1796.584,1950.002,1765.644,1769.883,1966.967
7,2052.505,1585.309,1484.594,1676.286,1871.786,1962.231,1794.354,1868.101,2120.777
8,1948.668,1691.211,1527.628,1784.654,1954.809,1931.048,2030.153,1944.834,2099.238

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1389.165,1334.379,1224.654,1080.176,1248.359,1234.585,1306.123,1333.406,1638.310
1,1452.013,1350.845,1331.912,1213.960,1411.248,1309.355,1364.308,1416.224,1646.810
2,1561.225,1396.874,1428.011,1314.490,1441.500,1387.449,1394.450,1436.290,1627.310
3,1714.172,1214.841,1444.770,1400.063,1496.046,1446.772,1507.782,1577.300,1677.599
4,1630.382,1290.673,1481.622,1383.914,1543.703,1505.512,1559.610,1547.285,1838.155
5,1891.014,1516.221,1642.670,1523.987,1653.264,1738.953,1682.959,1657.109,1834.376
6,1953.856,1753.065,1597.942,1616.466,1796.584,1950.002,1765.644,1769.883,1966.967
7,2052.505,1585.309,1484.594,1676.286,1871.786,1962.231,1794.354,1868.101,2120.777
8,1948.668,1691.211,1527.628,1784.654,1954.809,1931.048,2030.153,1944.834,2099.238

      B01     B02     B03     B04     B05     B06     B07     B08     B09
0  0.1351  0.1346  0.1382  0.1208  0.1249  0.1333  0.1249  0.1280  0.1364
1  0.1756  0.1845  0.1688  0.1730  0.1748  0.1927  0.1671  0.1905  0.1989
2  0.2879  0.2935  0.2741  0.2575  0.2776  0.3121  0.2251  0.3284  0.3423
3  0.3852  0.4101  0.4070  0.3827  0.3757  0.4121  0.2700  0.3960  0.4051
4  0.4205  0.4365  0.4250  0.4377  0.4341  0.4325  0.3191  0.4308  0.4041
5  0.4959  0.5344  0.5350  0.5156  0.5206  0.5331  0.3780  0.5340  0.4532
6  0.5868  0.5905  0.6145  0.6053  0.5970  0.5858  0.4446  0.5672  0.4943
7  0.6234  0.6316  0.6590  0.6309  0.6343  0.6487  0.4864  0.6143  0.5113
8  0.6914  0.6918  0.6793  0.6815  0.7017  0.6855  0.4907  0.6591  0.5248

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,967.614,929.487,729.366,488.691,814.992,827.346,924.775,924.201,1081.518
1,903.661,811.966,704.401,435.631,769.632,734.176,918.836,906.053,1034.480
2,890.280,757.104,767.325,339.179,737.606,630.944,879.380,909.512,1005.110
3,922.339,709.345,655.251,352.284,701.635,533.219,939.824,1044.778,900.420
4,764.426,788.304,520.742,350.912,764.413,466.766,884.207,970.058,1041.977
5,899.877,679.800,545.680,350.520,725.773,488.400,876.875,946.171,1047.094
6,925.817,538.105,573.490,374.350,774.814,551.833,908.686,1041.169,1030.492
7,927.245,591.414,638.685,534.559,771.405,565.228,927.951,986.406,1044.801
8,743.937,557.333,596.710,479.772,761.640,659.065,903.051,973.752,1124.749

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,967.614,929.487,729.366,488.691,814.992,827.346,924.775,924.201,1081.518
1,903.661,811.966,704.401,435.631,769.632,734.176,918.836,906.053,1034.480
2,890.280,757.104,767.325,339.179,737.606,630.944,879.380,909.512,1005.110
3,922.339,709.345,655.251,352.284,701.635,533.219,939.824,1044.778,900.420
4,764.426,788.304,520.742,350.912,764.413,466.766,884.207,970.058,1041.977
5,899.877,679.800,545.680,350.520,725.773,488.400,876.875,946.171,1047.094
6,925.817,538.105,573.490,374.350,774.814,551.833,908.686,1041.169,1030.492
7,927.245,591.414,638.685,534.559,771.405,565.228,927.951,986.406,1044.801
8,743.937,557.333,596.710,479.772,761.640,659.065,903.051,973.752,1124.749

      E01     E02     E03     E04     E05     E06     E07     E08     E09
0  0.1849  0.1968  0.2008  0.1979  0.1794  0.1821  0.1685  0.1631  0.1732
1  0.2883  0.2887  0.2812  0.2805  0.2725  0.2730  0.2675  0.2553  0.2871
2  0.4055  0.3910  0.3857  0.3777  0.3681  0.3675  0.3651  0.3479  0.3859
3  0.4897  0.4796  0.4535  0.4712  0.4506  0.4418  0.4432  0.4213  0.4684
4  0.5513  0.5222  0.5088  0.4936  0.4944  0.4856  0.5041  0.4846  0.5288
5  0.5888  0.5392  0.5509  0.5305  0.5357  0.5265  0.5362  0.5245  0.5578
6  0.5943  0.5585  0.5708  0.5534  0.5361  0.5351  0.5621  0.5511  0.5706
7  0.6199  0.5760  0.5674  0.5630  0.5644  0.5549  0.5856  0.5621  0.5962
8  0.6292  0.5840  0.5906  0.5835  0.5772  0.5600  0.5863  0.5508  0.6027

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,967.877,799.111,658.052,695.025,784.869,758.716,956.116,1013.753,1132.685
1,933.326,822.273,557.527,748.572,715.120,767.464,968.930,1012.159,1080.785
2,910.562,792.737,594.682,651.680,489.565,745.839,900.225,1003.462,1128.547
3,913.684,779.224,540.192,487.317,582.472,747.763,927.222,976.518,1145.589
4,814.542,558.904,535.031,404.212,434.450,686.624,808.740,1004.654,1192.790
5,887.689,561.911,510.132,370.910,552.010,706.939,786.424,1016.731,1183.321
6,919.037,670.499,578.404,482.589,743.684,721.762,852.474,989.778,1032.809
7,854.669,696.607,575.524,520.195,606.062,683.268,818.850,989.074,1070.149
8,830.995,671.166,552.123,503.470,605.256,695.447,835.307,1034.303,1105.060

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,967.877,799.111,658.052,695.025,784.869,758.716,956.116,1013.753,1132.685
1,933.326,822.273,557.527,748.572,715.120,767.464,968.930,1012.159,1080.785
2,910.562,792.737,594.682,651.680,489.565,745.839,900.225,1003.462,1128.547
3,913.684,779.224,540.192,487.317,582.472,747.763,927.222,976.518,1145.589
4,814.542,558.904,535.031,404.212,434.450,686.624,808.740,1004.654,1192.790
5,887.689,561.911,510.132,370.910,552.010,706.939,786.424,1016.731,1183.321
6,919.037,670.499,578.404,482.589,743.684,721.762,852.474,989.778,1032.809
7,854.669,696.607,575.524,520.195,606.062,683.268,818.850,989.074,1070.149
8,830.995,671.166,552.123,503.470,605.256,695.447,835.307,1034.303,1105.060

      D01     D02     D03     D04     D05     D06     D07     D08     D09
0  0.1973  0.1931  0.1950  0.1918  0.1826  0.1878  0.1670  0.1771  0.1838
1  0.2966  0.2750  0.2732  0.2796  0.2717  0.2840  0.2648  0.2608  0.2769
2  0.4133  0.3966  0.3615  0.3783  0.3679  0.3788  0.3635  0.3562  0.3884
3  0.5253  0.4920  0.4889  0.4777  0.4646  0.4598  0.4489  0.4435  0.4884
4  0.5784  0.5674  0.5615  0.5356  0.5492  0.5321  0.5359  0.5111  0.6137
5  0.6067  0.5801  0.5995  0.5839  0.5579  0.5699  0.5679  0.5934  0.6237
6  0.6022  0.6185  0.6392  0.6330  0.6120  0.5863  0.5922  0.5955  0.6272
7  0.5906  0.6489  0.6470  0.6778  0.6485  0.6210  0.6222  0.6031  0.6621
8  0.6306  0.6628  0.6696  0.6505  0.6261  0.6242  0.6236  0.5964  0.6630

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,1008.078,817.394,841.303,712.173,815.693,781.563,876.494,905.887,1012.430
1,921.751,798.627,787.364,690.442,769.038,797.230,866.303,887.694,1018.765
2,901.207,792.631,817.234,665.685,835.470,758.188,831.444,876.166,974.344
3,858.675,790.200,635.756,650.273,573.184,793.643,863.878,865.721,1009.813
4,850.278,686.120,646.799,501.546,371.740,792.525,874.102,901.294,929.656
5,935.723,741.447,657.088,529.644,357.329,785.697,854.269,885.587,1021.655
6,902.476,677.564,719.321,492.715,481.270,831.904,877.960,902.770,997.854
7,878.858,759.256,717.817,609.423,568.243,846.498,850.219,900.063,995.784
8,858.142,703.834,679.622,609.273,542.665,835.532,839.870,928.091,1013.955

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,1008.078,817.394,841.303,712.173,815.693,781.563,876.494,905.887,1012.430
1,921.751,798.627,787.364,690.442,769.038,797.230,866.303,887.694,1018.765
2,901.207,792.631,817.234,665.685,835.470,758.188,831.444,876.166,974.344
3,858.675,790.200,635.756,650.273,573.184,793.643,863.878,865.721,1009.813
4,850.278,686.120,646.799,501.546,371.740,792.525,874.102,901.294,929.656
5,935.723,741.447,657.088,529.644,357.329,785.697,854.269,885.587,1021.655
6,902.476,677.564,719.321,492.715,481.270,831.904,877.960,902.770,997.854
7,878.858,759.256,717.817,609.423,568.243,846.498,850.219,900.063,995.784
8,858.142,703.834,679.622,609.273,542.665,835.532,839.870,928.091,1013.955

      G01     G02     G03     G04     G05     G06     G07     G08     G09
0  0.2017  0.1864  0.1792  0.1763  0.1659  0.1754  0.1629  0.1673  0.1769
1  0.2979  0.2724  0.2499  0.2675  0.2333  0.2597  0.2394  0.2589  0.2714
2  0.3823  0.3639  0.3265  0.3401  0.3078  0.3430  0.3209  0.3334  0.3382
3  0.4365  0.4226  0.3772  0.3946  0.3604  0.4085  0.3902  0.4133  0.4162
4  0.4750  0.4580  0.4075  0.4332  0.3973  0.4463  0.4439  0.4556  0.4636
5  0.4949  0.4741  0.4237  0.4725  0.4060  0.4719  0.4703  0.4785  0.4987
6  0.5205  0.4956  0.4366  0.4761  0.4129  0.4872  0.4825  0.4901  0.4970
7  0.5318  0.5073  0.4383  0.4808  0.4152  0.4945  0.4930  0.4947  0.5021
8  0.5292  0.5134  0.4393  0.4882  0.4118  0.4980  0.5014  0.4998  0.5067

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,1029.710,885.954,826.461,729.655,880.050,829.617,992.697,945.808,1016.604
1,918.021,847.502,762.243,714.071,855.271,822.904,917.723,936.975,1032.271
2,928.722,835.354,771.293,677.189,884.383,799.028,870.869,891.379,970.041
3,877.061,782.761,425.262,641.420,814.873,781.597,835.167,936.793,974.884
4,799.378,644.414,450.212,435.228,750.999,815.866,860.882,921.189,978.795
5,827.146,593.972,370.835,438.910,715.346,815.311,855.535,912.935,972.554
6,894.495,661.196,436.432,546.469,688.562,811.487,892.527,973.310,1055.161
7,756.253,688.434,472.947,597.002,704.076,818.068,851.007,959.398,1026.284
8,765.751,704.716,578.520,500.693,692.152,837.519,867.232,935.828,1031.341

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,1029.710,885.954,826.461,729.655,880.050,829.617,992.697,945.808,1016.604
1,918.021,847.502,762.243,714.071,855.271,822.904,917.723,936.975,1032.271
2,928.722,835.354,771.293,677.189,884.383,799.028,870.869,891.379,970.041
3,877.061,782.761,425.262,641.420,814.873,781.597,835.167,936.793,974.884
4,799.378,644.414,450.212,435.228,750.999,815.866,860.882,921.189,978.795
5,827.146,593.972,370.835,438.910,715.346,815.311,855.535,912.935,972.554
6,894.495,661.196,436.432,546.469,688.562,811.487,892.527,973.310,1055.161
7,756.253,688.434,472.947,597.002,704.076,818.068,851.007,959.398,1026.284
8,765.751,704.716,578.520,500.693,692.152,837.519,867.232,935.828,1031.341

      F01     F02     F03     F04     F05     F06     F07     F08     F09
0  0.1940  0.2054  0.1789  0.1755  0.1869  0.1752  0.1703  0.1771  0.1805
1  0.2870  0.2924  0.2660  0.2566  0.2770  0.2639  0.2677  0.2619  0.2793
2  0.3830  0.3889  0.3529  0.3560  0.3637  0.3479  0.3504  0.3463  0.3646
3  0.4593  0.4600  0.4111  0.4317  0.4322  0.4242  0.4316  0.4217  0.4572
4  0.5091  0.5107  0.4300  0.4881  0.4892  0.4756  0.4799  0.4753  0.5177
5  0.5217  0.5350  0.4383  0.5255  0.5180  0.5169  0.5106  0.5123  0.5394
6  0.5336  0.5681  0.4442  0.5434  0.5465  0.5239  0.5222  0.5207  0.5423
7  0.5244  0.5748  0.4424  0.5618  0.5488  0.5371  0.5383  0.5386  0.5614
8  0.5054  0.5740  0.4362  0.5632  0.5489  0.5381  0.5540  0.5512  0.5641

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,973.896,456.955,768.313,794.161,812.480,822.826,746.937,899.649,936.921
1,944.393,331.337,714.537,728.882,783.248,784.801,761.684,881.975,917.609
2,910.712,441.862,756.646,738.697,794.079,780.024,706.511,882.862,938.685
3,957.820,561.697,800.248,740.895,741.108,793.705,790.781,900.411,903.974
4,935.187,786.333,651.775,757.419,789.799,806.831,719.217,905.796,936.742
5,926.050,687.009,661.009,762.309,797.914,805.938,726.115,913.735,940.260
6,965.042,788.995,737.229,787.864,769.829,833.296,788.251,958.172,897.758
7,943.435,783.416,864.823,780.665,776.668,845.402,847.941,954.121,914.280
8,912.335,710.280,717.211,742.718,777.102,830.263,780.196,959.278,922.703

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,973.896,456.955,768.313,794.161,812.480,822.826,746.937,899.649,936.921
1,944.393,331.337,714.537,728.882,783.248,784.801,761.684,881.975,917.609
2,910.712,441.862,756.646,738.697,794.079,780.024,706.511,882.862,938.685
3,957.820,561.697,800.248,740.895,741.108,793.705,790.781,900.411,903.974
4,935.187,786.333,651.775,757.419,789.799,806.831,719.217,905.796,936.742
5,926.050,687.009,661.009,762.309,797.914,805.938,726.115,913.735,940.260
6,965.042,788.995,737.229,787.864,769.829,833.296,788.251,958.172,897.758
7,943.435,783.416,864.823,780.665,776.668,845.402,847.941,954.121,914.280
8,912.335,710.280,717.211,742.718,777.102,830.263,780.196,959.278,922.703

      H01     H02     H03     H04     H05     H06     H07     H08     H09
0  0.0526  0.0482  0.0475  0.0427  0.0427  0.0478  0.0427  0.0431  0.0431
1  0.0682  0.0588  0.0570  0.0431  0.0430  0.0463  0.0430  0.0434  0.0435
2  0.1327  0.1051  0.1013  0.0432  0.0429  0.0467  0.0427  0.0429  0.0432
3  0.2314  0.1919  0.1861  0.0428  0.0430  0.0468  0.0433  0.0434  0.0441
4  0.3669  0.3023  0.2933  0.0434  0.0433  0.0467  0.0432  0.0433  0.0432
5  0.4536  0.4059  0.4097  0.0429  0.0429  0.0468  0.0427  0.0430  0.0434
6  0.5174  0.4743  0.4557  0.0432  0.0431  0.0467  0.0436  0.0437  0.0427
7  0.5462  0.5119  0.4639  0.0433  0.0431  0.0466  0.0429  0.0431  0.0436
8  0.5570  0.5130  0.4846  0.0432  0.0425  0.0460  0.0424  0.0425  0.0430

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,977.271,834.371,986.578,798.554,728.084,789.281,751.725,832.901,917.349
1,941.988,794.728,935.036,773.544,781.121,865.408,923.469,971.839,1198.443
2,967.218,906.776,898.679,793.894,823.261,808.727,833.191,957.338,992.014
3,916.743,848.729,805.926,786.780,777.756,842.739,799.952,957.608,954.799
4,798.207,837.826,760.487,759.901,757.928,808.103,795.418,875.299,1000.628
5,901.212,799.528,818.832,803.012,840.403,825.906,862.985,961.798,1075.630
6,928.313,907.090,826.622,817.235,846.908,849.045,886.384,963.399,1089.907
7,1035.005,900.964,942.944,771.261,925.982,910.247,964.824,936.110,1096.535
8,892.604,864.121,801.364,781.375,801.056,878.967,841.488,949.997,1058.721

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,977.271,834.371,986.578,798.554,728.084,789.281,751.725,832.901,917.349
1,941.988,794.728,935.036,773.544,781.121,865.408,923.469,971.839,1198.443
2,967.218,906.776,898.679,793.894,823.261,808.727,833.191,957.338,992.014
3,916.743,848.729,805.926,786.780,777.756,842.739,799.952,957.608,954.799
4,798.207,837.826,760.487,759.901,757.928,808.103,795.418,875.299,1000.628
5,901.212,799.528,818.832,803.012,840.403,825.906,862.985,961.798,1075.630
6,928.313,907.090,826.622,817.235,846.908,849.045,886.384,963.399,1089.907
7,1035.005,900.964,942.944,771.261,925.982,910.247,964.824,936.110,1096.535
8,892.604,864.121,801.364,781.375,801.056,878.967,841.488,949.997,1058.721

      A01     A02     A03     A04     A05     A06     A07     A08     A09
0  0.1074  0.1256  0.1136  0.1109  0.1073  0.1102  0.0913  0.1074  0.1046
1  0.1498  0.1923  0.1732  0.1701  0.1667  0.1666  0.1532  0.1485  0.1390
2  0.2479  0.3065  0.2612  0.2649  0.2647  0.2654  0.2183  0.2921  0.2446
3  0.3123  0.3739  0.3238  0.3191  0.3219  0.3295  0.2493  0.3566  0.3296
4  0.4192  0.4560  0.3976  0.3819  0.3805  0.3881  0.2996  0.4388  0.4342
5  0.6146  0.6348  0.6100  0.5447  0.5585  0.5430  0.3570  0.5944  0.6349
6  0.5962  0.6333  0.6074  0.5624  0.5752  0.5703  0.3973  0.6291  0.6642
7  0.6643  0.6992  0.6755  0.5910  0.6274  0.5877  0.4348  0.6119  0.6476
8  0.7572  0.7807  0.7611  0.6768  0.6757  0.6723  0.4806  0.6848  0.6749

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1561.362,1471.365,1402.663,1023.219,1313.881,1395.050,1356.525,1421.089,1467.389
1,1504.607,1393.847,1414.466,970.860,1331.492,1347.950,1383.234,1445.127,1459.746
2,1563.855,1444.085,1421.043,1054.725,1292.842,1328.893,1404.605,1421.716,1531.605
3,1538.316,1410.861,1469.924,1041.870,1246.597,1218.848,1397.946,1529.782,1549.659
4,1612.038,1444.258,1483.184,975.138,1126.909,1147.975,1371.475,1463.511,1543.405
5,1856.096,1625.672,1585.561,1012.708,1186.791,1256.500,1396.169,1471.692,1586.906
6,2020.820,1706.381,1638.888,1030.453,1196.570,1258.350,1479.724,1507.849,1596.642
7,2155.847,1849.774,1944.429,1108.421,1239.024,1272.428,1525.289,1649.266,1791.039
8,2386.508,2035.048,1860.862,1115.300,1314.816,1349.620,1551.906,1638.792,1805.351

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1561.362,1471.365,1402.663,1023.219,1313.881,1395.050,1356.525,1421.089,1467.389
1,1504.607,1393.847,1414.466,970.860,1331.492,1347.950,1383.234,1445.127,1459.746
2,1563.855,1444.085,1421.043,1054.725,1292.842,1328.893,1404.605,1421.716,1531.605
3,1538.316,1410.861,1469.924,1041.870,1246.597,1218.848,1397.946,1529.782,1549.659
4,1612.038,1444.258,1483.184,975.138,1126.909,1147.975,1371.475,1463.511,1543.405
5,1856.096,1625.672,1585.561,1012.708,1186.791,1256.500,1396.169,1471.692,1586.906
6,2020.820,1706.381,1638.888,1030.453,1196.570,1258.350,1479.724,1507.849,1596.642
7,2155.847,1849.774,1944.429,1108.421,1239.024,1272.428,1525.289,1649.266,1791.039
8,2386.508,2035.048,1860.862,1115.300,1314.816,1349.620,1551.906,1638.792,1805.351

      C01     C02     C03     C04     C05     C06     C07     C08     C09
0  0.1089  0.1154  0.1134  0.1043  0.1216  0.1166  0.1127  0.1205  0.1283
1  0.1331  0.1338  0.1334  0.1136  0.1445  0.1266  0.1397  0.1451  0.1544
2  0.1938  0.1977  0.2056  0.1924  0.2161  0.1975  0.2201  0.2226  0.2290
3  0.2895  0.2792  0.2850  0.2839  0.3031  0.2784  0.3038  0.3024  0.3103
4  0.3704  0.3493  0.3518  0.3740  0.3845  0.3700  0.3811  0.3820  0.3781
5  0.4265  0.3851  0.3926  0.4289  0.4361  0.4203  0.4277  0.4343  0.4254
6  0.4655  0.4246  0.4279  0.4723  0.4694  0.4591  0.4620  0.4594  0.4482
7  0.4876  0.4491  0.4521  0.4974  0.5007  0.4882  0.4893  0.4787  0.4746
8  0.5160  0.4844  0.4769  0.5228  0.5270  0.5146  0.5158  0.5028  0.4952

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1235.425,1118.218,1063.448,975.149,1168.055,1116.056,1155.356,1190.796,1326.024
1,1411.696,1251.444,1208.869,1139.439,1318.941,1234.512,1290.087,1341.031,1369.999
2,1690.927,1462.605,1421.354,1327.312,1514.429,1399.799,1454.166,1563.392,1520.084
3,1793.272,1628.217,1491.238,1394.855,1668.848,1572.653,1527.806,1683.658,1746.808
4,1809.748,1623.331,1525.140,1415.431,1641.001,1583.102,1561.698,1746.704,1793.764
5,2024.699,1685.971,1659.711,1585.699,1768.872,1721.521,1735.456,1857.994,1831.683
6,2073.921,1784.540,1724.148,1642.197,1833.420,1812.836,1782.688,1930.936,1960.685
7,2213.606,1841.991,1786.305,1683.153,2011.895,1908.299,1837.793,2065.105,2087.947
8,2316.558,1955.648,1836.427,1812.539,2016.931,1938.591,1951.443,2155.078,2092.116

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1235.425,1118.218,1063.448,975.149,1168.055,1116.056,1155.356,1190.796,1326.024
1,1411.696,1251.444,1208.869,1139.439,1318.941,1234.512,1290.087,1341.031,1369.999
2,1690.927,1462.605,1421.354,1327.312,1514.429,1399.799,1454.166,1563.392,1520.084
3,1793.272,1628.217,1491.238,1394.855,1668.848,1572.653,1527.806,1683.658,1746.808
4,1809.748,1623.331,1525.140,1415.431,1641.001,1583.102,1561.698,1746.704,1793.764
5,2024.699,1685.971,1659.711,1585.699,1768.872,1721.521,1735.456,1857.994,1831.683
6,2073.921,1784.540,1724.148,1642.197,1833.420,1812.836,1782.688,1930.936,1960.685
7,2213.606,1841.991,1786.305,1683.153,2011.895,1908.299,1837.793,2065.105,2087.947
8,2316.558,1955.648,1836.427,1812.539,2016.931,1938.591,1951.443,2155.078,2092.116

      B01     B02     B03     B04     B05     B06     B07     B08     B09
0  0.1068  0.1109  0.1030  0.1036  0.1030  0.1058  0.1059  0.1057  0.1070
1  0.1269  0.1271  0.1256  0.1292  0.1295  0.1272  0.1206  0.1241  0.1257
2  0.1933  0.2048  0.2011  0.2067  0.2040  0.2187  0.2063  0.2124  0.2124
3  0.2572  0.2801  0.2568  0.2759  0.2791  0.2935  0.2795  0.2916  0.2896
4  0.3468  0.3939  0.3408  0.3618  0.3656  0.3679  0.3719  0.4032  0.3981
5  0.5419  0.5253  0.4362  0.4572  0.4462  0.4588  0.4865  0.5046  0.4956
6  0.6141  0.6063  0.5377  0.5472  0.5331  0.5386  0.6014  0.5915  0.5482
7  0.6608  0.6673  0.6404  0.6202  0.6220  0.6187  0.6395  0.6170  0.5716
8  0.7473  0.7418  0.7251  0.7007  0.6587  0.7031  0.6497  0.6834  0.5843

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,1404.569,1272.814,1297.931,1256.622,1504.797,1432.424,1332.115,1394.746,1520.619
1,1455.109,1306.575,1330.469,1249.353,1376.527,1339.600,1330.026,1398.866,1472.194
2,1463.113,1348.523,1419.860,1287.608,1409.100,1348.194,1440.062,1520.067,1456.870
3,1569.798,1439.463,1385.354,1186.776,1395.685,1312.015,1442.267,1496.474,1606.307
4,1662.243,1480.351,1426.067,1121.257,1297.572,1284.088,1426.624,1514.836,1672.413
5,1887.203,1587.568,1662.321,1218.241,1318.850,1257.085,1494.470,1589.733,1703.696
6,2017.997,1698.079,1711.379,1234.053,1320.533,1286.932,1508.669,1602.629,1831.528
7,2176.869,1923.478,1936.725,1265.107,1412.296,1366.586,1588.130,1701.865,1854.817
8,2410.157,2023.072,1877.792,1287.981,1380.788,1343.633,1658.236,1749.216,1823.733

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,1404.569,1272.814,1297.931,1256.622,1504.797,1432.424,1332.115,1394.746,1520.619
1,1455.109,1306.575,1330.469,1249.353,1376.527,1339.600,1330.026,1398.866,1472.194
2,1463.113,1348.523,1419.860,1287.608,1409.100,1348.194,1440.062,1520.067,1456.870
3,1569.798,1439.463,1385.354,1186.776,1395.685,1312.015,1442.267,1496.474,1606.307
4,1662.243,1480.351,1426.067,1121.257,1297.572,1284.088,1426.624,1514.836,1672.413
5,1887.203,1587.568,1662.321,1218.241,1318.850,1257.085,1494.470,1589.733,1703.696
6,2017.997,1698.079,1711.379,1234.053,1320.533,1286.932,1508.669,1602.629,1831.528
7,2176.869,1923.478,1936.725,1265.107,1412.296,1366.586,1588.130,1701.865,1854.817
8,2410.157,2023.072,1877.792,1287.981,1380.788,1343.633,1658.236,1749.216,1823.733

      E01     E02     E03     E04     E05     E06     E07     E08     E09
0  0.1134  0.1136  0.1184  0.1013  0.1112  0.1108  0.1319  0.1266  0.1256
1  0.1357  0.1325  0.1394  0.1255  0.1235  0.1153  0.1500  0.1524  0.1580
2  0.1933  0.1954  0.2113  0.2103  0.2035  0.1929  0.2346  0.2320  0.2385
3  0.2818  0.2743  0.2907  0.3061  0.2944  0.2798  0.3194  0.3107  0.3174
4  0.3560  0.3423  0.3550  0.3898  0.3787  0.3625  0.3951  0.3830  0.3996
5  0.4045  0.3895  0.4063  0.4455  0.4372  0.4267  0.4435  0.4451  0.4395
6  0.4410  0.4229  0.4347  0.4864  0.4711  0.4677  0.4736  0.4712  0.4719
7  0.4661  0.4543  0.4647  0.5190  0.4967  0.4999  0.5043  0.5004  0.4982
8  0.4982  0.4804  0.4938  0.5479  0.5322  0.5262  0.5277  0.5188  0.5222

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,1412.634,1218.570,1389.629,1258.261,1490.699,1386.704,1315.101,1405.048,1473.863
1,1461.799,1325.406,1378.289,1241.786,1426.796,1319.856,1320.888,1506.005,1513.940
2,1471.504,1432.046,1372.445,1338.083,1443.195,1325.947,1383.762,1504.340,1577.179
3,1546.500,1451.609,1427.834,1193.839,1347.469,1292.213,1435.315,1525.981,1541.990
4,1728.317,1462.900,1484.380,1142.199,1285.506,1214.550,1383.524,1450.061,1551.153
5,1855.393,1676.003,1600.236,1200.749,1334.753,1258.179,1428.180,1585.676,1704.403
6,1996.410,1741.547,1680.412,1233.631,1332.116,1267.077,1476.747,1589.802,1673.852
7,2164.695,2024.924,1962.493,1284.615,1353.211,1357.854,1591.621,1612.203,1742.811
8,2304.478,2096.000,1943.468,1242.314,1392.647,1378.586,1591.254,1669.899,1798.447

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,1412.634,1218.570,1389.629,1258.261,1490.699,1386.704,1315.101,1405.048,1473.863
1,1461.799,1325.406,1378.289,1241.786,1426.796,1319.856,1320.888,1506.005,1513.940
2,1471.504,1432.046,1372.445,1338.083,1443.195,1325.947,1383.762,1504.340,1577.179
3,1546.500,1451.609,1427.834,1193.839,1347.469,1292.213,1435.315,1525.981,1541.990
4,1728.317,1462.900,1484.380,1142.199,1285.506,1214.550,1383.524,1450.061,1551.153
5,1855.393,1676.003,1600.236,1200.749,1334.753,1258.179,1428.180,1585.676,1704.403
6,1996.410,1741.547,1680.412,1233.631,1332.116,1267.077,1476.747,1589.802,1673.852
7,2164.695,2024.924,1962.493,1284.615,1353.211,1357.854,1591.621,1612.203,1742.811
8,2304.478,2096.000,1943.468,1242.314,1392.647,1378.586,1591.254,1669.899,1798.447

      D01     D02     D03     D04     D05     D06     D07     D08     D09
0  0.1137  0.1121  0.1184  0.1068  0.1000  0.1043  0.1275  0.1266  0.1187
1  0.1386  0.1332  0.1364  0.1153  0.1158  0.1147  0.1491  0.1505  0.1479
2  0.1947  0.1944  0.1998  0.1900  0.1788  0.1812  0.2320  0.2206  0.2188
3  0.2653  0.2781  0.2827  0.2688  0.2674  0.2681  0.3124  0.3011  0.2998
4  0.3372  0.3442  0.3428  0.3457  0.3506  0.3550  0.3880  0.3741  0.3827
5  0.3947  0.3888  0.3934  0.4024  0.4123  0.4176  0.4375  0.4279  0.4256
6  0.4281  0.4266  0.4259  0.4403  0.4564  0.4583  0.4699  0.4608  0.4599
7  0.4548  0.4581  0.4582  0.4662  0.4882  0.4952  0.5053  0.4903  0.4918
8  0.4860  0.4797  0.4870  0.4960  0.5162  0.5169  0.5254  0.5146  0.5162

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,1401.130,1252.775,1266.259,1379.334,1510.645,1437.430,1306.352,1400.971,1419.424
1,1434.506,1316.633,1261.788,1310.875,1412.594,1350.653,1298.208,1358.851,1485.981
2,1499.844,1417.757,1347.660,1331.276,1438.445,1412.767,1385.248,1433.440,1536.932
3,1590.448,1459.627,1389.946,1290.080,1348.483,1335.539,1439.469,1473.993,1518.746
4,1710.222,1495.085,1429.758,1235.156,1322.832,1355.818,1460.377,1513.105,1574.841
5,1865.733,1643.863,1646.543,1288.604,1390.921,1360.131,1473.836,1540.809,1685.235
6,2004.600,1779.247,1698.529,1328.973,1418.782,1421.948,1505.580,1580.859,1747.941
7,2216.881,1990.833,1989.765,1448.609,1449.974,1500.625,1623.838,1695.326,1842.182
8,2412.500,2047.828,2000.528,1419.560,1525.416,1543.269,1696.317,1769.974,1954.596

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,1401.130,1252.775,1266.259,1379.334,1510.645,1437.430,1306.352,1400.971,1419.424
1,1434.506,1316.633,1261.788,1310.875,1412.594,1350.653,1298.208,1358.851,1485.981
2,1499.844,1417.757,1347.660,1331.276,1438.445,1412.767,1385.248,1433.440,1536.932
3,1590.448,1459.627,1389.946,1290.080,1348.483,1335.539,1439.469,1473.993,1518.746
4,1710.222,1495.085,1429.758,1235.156,1322.832,1355.818,1460.377,1513.105,1574.841
5,1865.733,1643.863,1646.543,1288.604,1390.921,1360.131,1473.836,1540.809,1685.235
6,2004.600,1779.247,1698.529,1328.973,1418.782,1421.948,1505.580,1580.859,1747.941
7,2216.881,1990.833,1989.765,1448.609,1449.974,1500.625,1623.838,1695.326,1842.182
8,2412.500,2047.828,2000.528,1419.560,1525.416,1543.269,1696.317,1769.974,1954.596

      G01     G02     G03     G04     G05     G06     G07     G08     G09
0  0.1134  0.1166  0.1160  0.1009  0.1007  0.0955  0.1232  0.1345  0.1242
1  0.1358  0.1349  0.1347  0.1187  0.1141  0.1172  0.1457  0.1882  0.1520
2  0.1870  0.1890  0.1966  0.1766  0.1682  0.1775  0.2089  0.2493  0.2129
3  0.2630  0.2667  0.2672  0.2535  0.2402  0.2510  0.2808  0.3163  0.2866
4  0.3286  0.3320  0.3355  0.3434  0.3359  0.3401  0.3603  0.3528  0.3668
5  0.3908  0.3811  0.3865  0.4123  0.4023  0.4103  0.4239  0.4864  0.4161
6  0.4232  0.4117  0.4161  0.4472  0.4370  0.4448  0.4480  0.4116  0.4584
7  0.4518  0.4388  0.4488  0.4838  0.4776  0.4803  0.4763  0.5669  0.4839
8  0.4900  0.4698  0.4784  0.5089  0.5003  0.5034  0.5029  0.4941  0.5067

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,1474.553,1309.551,1326.130,1300.473,1414.705,1485.508,1373.995,1395.019,1460.185
1,1463.864,1325.180,1300.322,1227.855,1331.460,1428.605,1364.585,1345.855,1476.298
2,1524.326,1411.799,1373.771,1291.126,1364.312,1461.310,1434.747,1427.788,1539.872
3,1496.738,1464.316,1408.597,1236.694,1313.855,1366.702,1422.726,1474.631,1561.819
4,1687.341,1496.930,1460.602,1167.448,1257.018,1324.340,1408.961,1502.526,1600.129
5,1918.331,1652.473,1599.513,1209.699,1298.145,1363.785,1485.611,1498.529,1657.569
6,2056.371,1756.327,1722.906,1241.452,1319.128,1369.114,1494.843,1528.827,1696.051
7,2180.262,1909.748,1934.581,1368.233,1380.027,1421.932,1542.932,1689.610,1852.461
8,2342.989,2034.895,1878.848,1365.112,1425.029,1450.102,1582.549,1732.260,1868.558

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,1474.553,1309.551,1326.130,1300.473,1414.705,1485.508,1373.995,1395.019,1460.185
1,1463.864,1325.180,1300.322,1227.855,1331.460,1428.605,1364.585,1345.855,1476.298
2,1524.326,1411.799,1373.771,1291.126,1364.312,1461.310,1434.747,1427.788,1539.872
3,1496.738,1464.316,1408.597,1236.694,1313.855,1366.702,1422.726,1474.631,1561.819
4,1687.341,1496.930,1460.602,1167.448,1257.018,1324.340,1408.961,1502.526,1600.129
5,1918.331,1652.473,1599.513,1209.699,1298.145,1363.785,1485.611,1498.529,1657.569
6,2056.371,1756.327,1722.906,1241.452,1319.128,1369.114,1494.843,1528.827,1696.051
7,2180.262,1909.748,1934.581,1368.233,1380.027,1421.932,1542.932,1689.610,1852.461
8,2342.989,2034.895,1878.848,1365.112,1425.029,1450.102,1582.549,1732.260,1868.558

      F01     F02     F03     F04     F05     F06     F07     F08     F09
0  0.1120  0.1144  0.1623  0.1059  0.1038  0.1083  0.1218  0.1272  0.1202
1  0.1386  0.1324  0.1422  0.1083  0.1121  0.1192  0.1465  0.1501  0.1500
2  0.1923  0.1885  0.1988  0.1636  0.1703  0.1775  0.2124  0.2149  0.2162
3  0.2639  0.2599  0.2759  0.2435  0.2456  0.2562  0.2868  0.2891  0.2918
4  0.3288  0.3193  0.3349  0.3268  0.3282  0.3369  0.3677  0.3656  0.3716
5  0.3910  0.3658  0.3827  0.3951  0.3931  0.3923  0.4242  0.4199  0.4130
6  0.4218  0.3984  0.4146  0.4308  0.4288  0.4306  0.4523  0.4474  0.4497
7  0.4482  0.4230  0.4507  0.4633  0.4588  0.4654  0.4802  0.4771  0.4775
8  0.4774  0.4531  0.4744  0.4928  0.4872  0.4919  0.5137  0.5032  0.4993

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,1357.523,1381.440,1219.470,1441.630,1540.937,1505.482,1244.198,1406.857,1408.614
1,1318.223,1344.578,1285.013,1361.190,1392.009,1422.155,1306.632,1424.578,1457.302
2,1399.907,1413.947,1375.153,1388.862,1397.094,1462.003,1370.399,1502.087,1474.943
3,1524.293,1532.684,1417.963,1346.611,1359.684,1395.758,1398.355,1520.106,1530.481
4,1728.261,1624.879,1509.903,1337.406,1397.667,1406.993,1469.283,1615.976,1639.938
5,1840.238,1763.495,1698.863,1375.089,1388.477,1448.988,1474.910,1639.852,1730.681
6,2023.756,1973.711,1873.972,1450.104,1462.139,1521.450,1605.657,1736.167,1844.743
7,2282.063,2165.836,2122.972,1543.687,1546.414,1610.948,1689.221,1855.947,1911.118
8,2415.833,2304.109,2152.817,1567.322,1611.475,1669.005,1817.683,1945.866,2033.151

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,1357.523,1381.440,1219.470,1441.630,1540.937,1505.482,1244.198,1406.857,1408.614
1,1318.223,1344.578,1285.013,1361.190,1392.009,1422.155,1306.632,1424.578,1457.302
2,1399.907,1413.947,1375.153,1388.862,1397.094,1462.003,1370.399,1502.087,1474.943
3,1524.293,1532.684,1417.963,1346.611,1359.684,1395.758,1398.355,1520.106,1530.481
4,1728.261,1624.879,1509.903,1337.406,1397.667,1406.993,1469.283,1615.976,1639.938
5,1840.238,1763.495,1698.863,1375.089,1388.477,1448.988,1474.910,1639.852,1730.681
6,2023.756,1973.711,1873.972,1450.104,1462.139,1521.450,1605.657,1736.167,1844.743
7,2282.063,2165.836,2122.972,1543.687,1546.414,1610.948,1689.221,1855.947,1911.118
8,2415.833,2304.109,2152.817,1567.322,1611.475,1669.005,1817.683,1945.866,2033.151

      H01     H02     H03     H04     H05     H06     H07     H08     H09
0  0.1137  0.1129  0.1119  0.1065  0.0988  0.0986  0.1215  0.1189  0.1197
1  0.1389  0.1368  0.1357  0.1220  0.1181  0.1115  0.1429  0.1415  0.1449
2  0.1914  0.1941  0.1996  0.1783  0.1731  0.1647  0.2013  0.1991  0.2018
3  0.2693  0.2691  0.2752  0.2584  0.2504  0.2423  0.2831  0.2779  0.2846
4  0.3344  0.3318  0.3353  0.3387  0.3340  0.3281  0.3630  0.3548  0.3654
5  0.3910  0.3750  0.3880  0.3949  0.3947  0.3864  0.4145  0.4053  0.4042
6  0.4140  0.3977  0.4108  0.4276  0.4254  0.4190  0.4503  0.4373  0.4469
7  0.4418  0.4254  0.4406  0.4574  0.4534  0.4506  0.4754  0.4625  0.4688
8  0.4802  0.4667  0.4779  0.4849  0.4805  0.4782  0.4988  0.4860  0.4927

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,971.236,885.120,869.705,823.668,881.515,891.792,961.573,1009.024,1236.513
1,971.838,821.029,788.029,774.506,784.172,808.893,836.651,985.546,975.843
2,1019.706,848.966,837.747,811.042,832.879,934.347,882.488,1004.616,1020.630
3,891.302,850.874,787.814,735.986,800.254,847.885,838.540,982.644,981.733
4,942.175,817.871,797.524,797.662,798.061,809.718,855.264,978.794,1014.185
5,1041.799,846.789,839.263,825.493,858.124,858.869,865.743,1016.367,1009.540
6,1109.655,978.745,888.842,860.561,882.627,861.276,912.212,992.349,1081.138
7,1081.473,900.823,865.061,874.323,873.257,907.040,909.385,1095.808,1080.892
8,1047.612,923.309,809.736,837.965,876.457,944.916,924.415,1029.071,1113.155

,A01,A02,A03,A04,A05,A06,A07,A08,A09
0,971.236,885.120,869.705,823.668,881.515,891.792,961.573,1009.024,1236.513
1,971.838,821.029,788.029,774.506,784.172,808.893,836.651,985.546,975.843
2,1019.706,848.966,837.747,811.042,832.879,934.347,882.488,1004.616,1020.630
3,891.302,850.874,787.814,735.986,800.254,847.885,838.540,982.644,981.733
4,942.175,817.871,797.524,797.662,798.061,809.718,855.264,978.794,1014.185
5,1041.799,846.789,839.263,825.493,858.124,858.869,865.743,1016.367,1009.540
6,1109.655,978.745,888.842,860.561,882.627,861.276,912.212,992.349,1081.138
7,1081.473,900.823,865.061,874.323,873.257,907.040,909.385,1095.808,1080.892
8,1047.612,923.309,809.736,837.965,876.457,944.916,924.415,1029.071,1113.155

      A01     A02     A03     A04     A05     A06     A07     A08     A09
0  0.1074  0.1256  0.1136  0.1109  0.1073  0.1102  0.0913  0.1074  0.1046
1  0.1498  0.1923  0.1732  0.1701  0.1667  0.1666  0.1532  0.1485  0.1390
2  0.2479  0.3065  0.2612  0.2649  0.2647  0.2654  0.2183  0.2921  0.2446
3  0.3123  0.3739  0.3238  0.3191  0.3219  0.3295  0.2493  0.3566  0.3296
4  0.4192  0.4560  0.3976  0.3819  0.3805  0.3881  0.2996  0.4388  0.4342
5  0.6146  0.6348  0.6100  0.5447  0.5585  0.5430  0.3570  0.5944  0.6349
6  0.5962  0.6333  0.6074  0.5624  0.5752  0.5703  0.3973  0.6291  0.6642
7  0.6643  0.6992  0.6755  0.5910  0.6274  0.5877  0.4348  0.6119  0.6476
8  0.7572  0.7807  0.7611  0.6768  0.6757  0.6723  0.4806  0.6848  0.6749

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,889.160,851.736,962.412,810.771,969.264,804.740,1023.281,939.449,944.116
1,936.834,813.878,833.586,706.409,807.449,803.158,891.420,919.035,911.344
2,923.141,859.587,919.836,768.550,851.034,743.709,890.534,925.123,958.932
3,905.601,776.367,830.383,680.379,807.836,758.344,843.074,915.827,1017.824
4,966.561,842.964,847.880,705.376,815.697,796.310,839.435,880.941,982.742
5,932.576,879.279,828.228,738.705,819.980,755.078,900.962,949.810,941.030
6,1008.285,887.687,849.255,753.613,866.802,833.114,850.351,958.707,1034.453
7,929.456,888.882,929.266,773.593,852.609,843.997,910.547,972.469,972.933
8,939.740,904.227,843.283,783.914,913.439,855.151,849.795,978.924,1017.119

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,889.160,851.736,962.412,810.771,969.264,804.740,1023.281,939.449,944.116
1,936.834,813.878,833.586,706.409,807.449,803.158,891.420,919.035,911.344
2,923.141,859.587,919.836,768.550,851.034,743.709,890.534,925.123,958.932
3,905.601,776.367,830.383,680.379,807.836,758.344,843.074,915.827,1017.824
4,966.561,842.964,847.880,705.376,815.697,796.310,839.435,880.941,982.742
5,932.576,879.279,828.228,738.705,819.980,755.078,900.962,949.810,941.030
6,1008.285,887.687,849.255,753.613,866.802,833.114,850.351,958.707,1034.453
7,929.456,888.882,929.266,773.593,852.609,843.997,910.547,972.469,972.933
8,939.740,904.227,843.283,783.914,913.439,855.151,849.795,978.924,1017.119

      C01     C02     C03     C04     C05     C06     C07     C08     C09
0  0.1089  0.1154  0.1134  0.1043  0.1216  0.1166  0.1127  0.1205  0.1283
1  0.1331  0.1338  0.1334  0.1136  0.1445  0.1266  0.1397  0.1451  0.1544
2  0.1938  0.1977  0.2056  0.1924  0.2161  0.1975  0.2201  0.2226  0.2290
3  0.2895  0.2792  0.2850  0.2839  0.3031  0.2784  0.3038  0.3024  0.3103
4  0.3704  0.3493  0.3518  0.3740  0.3845  0.3700  0.3811  0.3820  0.3781
5  0.4265  0.3851  0.3926  0.4289  0.4361  0.4203  0.4277  0.4343  0.4254
6  0.4655  0.4246  0.4279  0.4723  0.4694  0.4591  0.4620  0.4594  0.4482
7  0.4876  0.4491  0.4521  0.4974  0.5007  0.4882  0.4893  0.4787  0.4746
8  0.5160  0.4844  0.4769  0.5228  0.5270  0.5146  0.5158  0.5028  0.4952

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1273.469,1211.789,1256.607,1065.204,1393.421,1244.617,1449.483,1346.187,1553.426
1,1414.062,1298.277,1291.981,1095.187,1311.172,1255.700,1293.620,1318.527,1411.859
2,1749.091,1601.391,1561.503,1345.994,1665.676,1490.194,1542.996,1560.850,1745.003
3,1843.821,1588.338,1510.911,1403.128,1633.283,1558.200,1616.867,1691.846,1739.500
4,2047.681,1722.148,1702.929,1588.623,1693.279,1663.160,1855.663,1844.730,1910.635
5,2128.285,1848.987,1820.748,1643.533,1842.057,1793.121,1886.163,1853.824,2052.985
6,2316.788,1929.661,1839.955,1776.480,1925.444,1851.687,2010.634,2035.192,2096.014
7,2313.330,2040.748,1972.090,1896.796,2078.562,2014.126,2097.582,2130.559,2261.408
8,2442.977,2056.287,1993.604,1963.406,2111.239,2037.175,2123.451,2253.388,2301.198

,B01,B02,B03,B04,B05,B06,B07,B08,B09
0,1273.469,1211.789,1256.607,1065.204,1393.421,1244.617,1449.483,1346.187,1553.426
1,1414.062,1298.277,1291.981,1095.187,1311.172,1255.700,1293.620,1318.527,1411.859
2,1749.091,1601.391,1561.503,1345.994,1665.676,1490.194,1542.996,1560.850,1745.003
3,1843.821,1588.338,1510.911,1403.128,1633.283,1558.200,1616.867,1691.846,1739.500
4,2047.681,1722.148,1702.929,1588.623,1693.279,1663.160,1855.663,1844.730,1910.635
5,2128.285,1848.987,1820.748,1643.533,1842.057,1793.121,1886.163,1853.824,2052.985
6,2316.788,1929.661,1839.955,1776.480,1925.444,1851.687,2010.634,2035.192,2096.014
7,2313.330,2040.748,1972.090,1896.796,2078.562,2014.126,2097.582,2130.559,2261.408
8,2442.977,2056.287,1993.604,1963.406,2111.239,2037.175,2123.451,2253.388,2301.198

      B01     B02     B03     B04     B05     B06     B07     B08     B09
0  0.1068  0.1109  0.1030  0.1036  0.1030  0.1058  0.1059  0.1057  0.1070
1  0.1269  0.1271  0.1256  0.1292  0.1295  0.1272  0.1206  0.1241  0.1257
2  0.1933  0.2048  0.2011  0.2067  0.2040  0.2187  0.2063  0.2124  0.2124
3  0.2572  0.2801  0.2568  0.2759  0.2791  0.2935  0.2795  0.2916  0.2896
4  0.3468  0.3939  0.3408  0.3618  0.3656  0.3679  0.3719  0.4032  0.3981
5  0.5419  0.5253  0.4362  0.4572  0.4462  0.4588  0.4865  0.5046  0.4956
6  0.6141  0.6063  0.5377  0.5472  0.5331  0.5386  0.6014  0.5915  0.5482
7  0.6608  0.6673  0.6404  0.6202  0.6220  0.6187  0.6395  0.6170  0.5716
8  0.7473  0.7418  0.7251  0.7007  0.6587  0.7031  0.6497  0.6834  0.5843

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,941.383,781.586,798.000,664.023,860.830,811.947,906.295,1024.672,938.296
1,865.867,736.381,797.050,633.884,746.723,784.775,846.417,896.415,925.112
2,928.048,809.833,711.020,646.910,829.248,792.995,862.733,909.812,922.072
3,895.801,778.094,771.548,631.860,755.232,778.465,876.313,964.151,863.655
4,877.114,759.917,831.678,668.728,751.690,748.119,851.957,950.029,904.910
5,921.140,798.917,831.428,707.890,823.824,809.537,866.537,923.013,972.361
6,916.099,790.182,869.344,729.669,755.621,783.855,906.356,972.294,928.210
7,940.496,834.929,803.551,670.248,850.601,815.813,888.112,935.529,1065.070
8,908.558,838.648,810.283,731.662,852.019,792.335,964.882,1009.052,1031.857

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,941.383,781.586,798.000,664.023,860.830,811.947,906.295,1024.672,938.296
1,865.867,736.381,797.050,633.884,746.723,784.775,846.417,896.415,925.112
2,928.048,809.833,711.020,646.910,829.248,792.995,862.733,909.812,922.072
3,895.801,778.094,771.548,631.860,755.232,778.465,876.313,964.151,863.655
4,877.114,759.917,831.678,668.728,751.690,748.119,851.957,950.029,904.910
5,921.140,798.917,831.428,707.890,823.824,809.537,866.537,923.013,972.361
6,916.099,790.182,869.344,729.669,755.621,783.855,906.356,972.294,928.210
7,940.496,834.929,803.551,670.248,850.601,815.813,888.112,935.529,1065.070
8,908.558,838.648,810.283,731.662,852.019,792.335,964.882,1009.052,1031.857

      E01     E02     E03     E04     E05     E06     E07     E08     E09
0  0.1134  0.1136  0.1184  0.1013  0.1112  0.1108  0.1319  0.1266  0.1256
1  0.1357  0.1325  0.1394  0.1255  0.1235  0.1153  0.1500  0.1524  0.1580
2  0.1933  0.1954  0.2113  0.2103  0.2035  0.1929  0.2346  0.2320  0.2385
3  0.2818  0.2743  0.2907  0.3061  0.2944  0.2798  0.3194  0.3107  0.3174
4  0.3560  0.3423  0.3550  0.3898  0.3787  0.3625  0.3951  0.3830  0.3996
5  0.4045  0.3895  0.4063  0.4455  0.4372  0.4267  0.4435  0.4451  0.4395
6  0.4410  0.4229  0.4347  0.4864  0.4711  0.4677  0.4736  0.4712  0.4719
7  0.4661  0.4543  0.4647  0.5190  0.4967  0.4999  0.5043  0.5004  0.4982
8  0.4982  0.4804  0.4938  0.5479  0.5322  0.5262  0.5277  0.5188  0.5222

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,1010.221,861.488,892.696,763.449,870.542,828.694,999.876,970.526,982.267
1,914.304,792.794,770.541,698.817,789.464,721.359,842.224,920.763,1050.882
2,930.783,808.535,837.616,725.507,812.095,749.381,850.291,993.663,980.302
3,845.637,808.141,844.203,602.566,746.250,746.877,898.738,872.148,948.534
4,886.986,848.754,812.337,651.844,779.017,748.445,820.930,907.804,1042.046
5,954.971,860.576,807.903,721.289,805.137,744.438,857.446,951.985,995.908
6,927.285,897.087,839.230,763.936,779.399,778.075,851.339,938.994,970.865
7,972.255,833.803,843.940,726.856,798.911,762.509,873.766,997.323,1015.044
8,896.362,892.749,841.449,685.106,804.510,799.469,887.419,959.122,984.589

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,1010.221,861.488,892.696,763.449,870.542,828.694,999.876,970.526,982.267
1,914.304,792.794,770.541,698.817,789.464,721.359,842.224,920.763,1050.882
2,930.783,808.535,837.616,725.507,812.095,749.381,850.291,993.663,980.302
3,845.637,808.141,844.203,602.566,746.250,746.877,898.738,872.148,948.534
4,886.986,848.754,812.337,651.844,779.017,748.445,820.930,907.804,1042.046
5,954.971,860.576,807.903,721.289,805.137,744.438,857.446,951.985,995.908
6,927.285,897.087,839.230,763.936,779.399,778.075,851.339,938.994,970.865
7,972.255,833.803,843.940,726.856,798.911,762.509,873.766,997.323,1015.044
8,896.362,892.749,841.449,685.106,804.510,799.469,887.419,959.122,984.589

      D01     D02     D03     D04     D05     D06     D07     D08     D09
0  0.1137  0.1121  0.1184  0.1068  0.1000  0.1043  0.1275  0.1266  0.1187
1  0.1386  0.1332  0.1364  0.1153  0.1158  0.1147  0.1491  0.1505  0.1479
2  0.1947  0.1944  0.1998  0.1900  0.1788  0.1812  0.2320  0.2206  0.2188
3  0.2653  0.2781  0.2827  0.2688  0.2674  0.2681  0.3124  0.3011  0.2998
4  0.3372  0.3442  0.3428  0.3457  0.3506  0.3550  0.3880  0.3741  0.3827
5  0.3947  0.3888  0.3934  0.4024  0.4123  0.4176  0.4375  0.4279  0.4256
6  0.4281  0.4266  0.4259  0.4403  0.4564  0.4583  0.4699  0.4608  0.4599
7  0.4548  0.4581  0.4582  0.4662  0.4882  0.4952  0.5053  0.4903  0.4918
8  0.4860  0.4797  0.4870  0.4960  0.5162  0.5169  0.5254  0.5146  0.5162

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,921.035,888.299,803.716,748.470,808.593,795.844,889.917,900.091,944.449
1,845.991,778.631,700.138,696.539,765.381,744.696,790.935,834.618,945.991
2,893.803,835.588,749.742,704.068,773.893,760.951,826.440,847.731,864.918
3,816.615,807.797,767.354,700.519,765.225,770.930,826.802,810.304,872.389
4,875.821,827.534,719.500,680.823,807.029,774.671,805.198,815.781,936.674
5,911.276,838.471,765.287,720.566,774.326,774.188,803.518,872.373,873.804
6,923.248,869.870,769.805,722.999,833.677,802.698,831.092,862.111,981.663
7,928.780,901.878,790.310,748.989,822.149,806.980,839.342,895.047,949.117
8,888.705,863.299,779.096,727.033,807.497,821.877,842.347,871.554,958.542

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,921.035,888.299,803.716,748.470,808.593,795.844,889.917,900.091,944.449
1,845.991,778.631,700.138,696.539,765.381,744.696,790.935,834.618,945.991
2,893.803,835.588,749.742,704.068,773.893,760.951,826.440,847.731,864.918
3,816.615,807.797,767.354,700.519,765.225,770.930,826.802,810.304,872.389
4,875.821,827.534,719.500,680.823,807.029,774.671,805.198,815.781,936.674
5,911.276,838.471,765.287,720.566,774.326,774.188,803.518,872.373,873.804
6,923.248,869.870,769.805,722.999,833.677,802.698,831.092,862.111,981.663
7,928.780,901.878,790.310,748.989,822.149,806.980,839.342,895.047,949.117
8,888.705,863.299,779.096,727.033,807.497,821.877,842.347,871.554,958.542

      G01     G02     G03     G04     G05     G06     G07     G08     G09
0  0.1134  0.1166  0.1160  0.1009  0.1007  0.0955  0.1232  0.1345  0.1242
1  0.1358  0.1349  0.1347  0.1187  0.1141  0.1172  0.1457  0.1882  0.1520
2  0.1870  0.1890  0.1966  0.1766  0.1682  0.1775  0.2089  0.2493  0.2129
3  0.2630  0.2667  0.2672  0.2535  0.2402  0.2510  0.2808  0.3163  0.2866
4  0.3286  0.3320  0.3355  0.3434  0.3359  0.3401  0.3603  0.3528  0.3668
5  0.3908  0.3811  0.3865  0.4123  0.4023  0.4103  0.4239  0.4864  0.4161
6  0.4232  0.4117  0.4161  0.4472  0.4370  0.4448  0.4480  0.4116  0.4584
7  0.4518  0.4388  0.4488  0.4838  0.4776  0.4803  0.4763  0.5669  0.4839
8  0.4900  0.4698  0.4784  0.5089  0.5003  0.5034  0.5029  0.4941  0.5067

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,899.498,809.171,856.620,685.529,825.793,783.276,834.492,924.253,1032.961
1,849.193,787.535,777.792,644.368,749.660,789.526,840.514,822.920,963.493
2,873.103,834.498,791.975,671.166,793.198,803.202,838.043,887.251,959.164
3,830.220,763.094,736.264,682.705,768.268,757.196,790.127,869.839,998.316
4,912.078,828.599,762.431,637.568,774.929,778.212,851.329,824.146,967.661
5,907.343,853.239,844.910,669.455,803.474,810.125,814.282,899.562,951.636
6,962.675,863.525,796.353,720.158,805.461,809.452,882.754,857.273,1006.414
7,908.492,881.229,832.653,737.650,827.522,790.237,862.932,934.707,993.237
8,924.863,835.898,770.054,713.773,834.335,818.996,835.163,923.049,1042.176

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,899.498,809.171,856.620,685.529,825.793,783.276,834.492,924.253,1032.961
1,849.193,787.535,777.792,644.368,749.660,789.526,840.514,822.920,963.493
2,873.103,834.498,791.975,671.166,793.198,803.202,838.043,887.251,959.164
3,830.220,763.094,736.264,682.705,768.268,757.196,790.127,869.839,998.316
4,912.078,828.599,762.431,637.568,774.929,778.212,851.329,824.146,967.661
5,907.343,853.239,844.910,669.455,803.474,810.125,814.282,899.562,951.636
6,962.675,863.525,796.353,720.158,805.461,809.452,882.754,857.273,1006.414
7,908.492,881.229,832.653,737.650,827.522,790.237,862.932,934.707,993.237
8,924.863,835.898,770.054,713.773,834.335,818.996,835.163,923.049,1042.176

      F01     F02     F03     F04     F05     F06     F07     F08     F09
0  0.1120  0.1144  0.1623  0.1059  0.1038  0.1083  0.1218  0.1272  0.1202
1  0.1386  0.1324  0.1422  0.1083  0.1121  0.1192  0.1465  0.1501  0.1500
2  0.1923  0.1885  0.1988  0.1636  0.1703  0.1775  0.2124  0.2149  0.2162
3  0.2639  0.2599  0.2759  0.2435  0.2456  0.2562  0.2868  0.2891  0.2918
4  0.3288  0.3193  0.3349  0.3268  0.3282  0.3369  0.3677  0.3656  0.3716
5  0.3910  0.3658  0.3827  0.3951  0.3931  0.3923  0.4242  0.4199  0.4130
6  0.4218  0.3984  0.4146  0.4308  0.4288  0.4306  0.4523  0.4474  0.4497
7  0.4482  0.4230  0.4507  0.4633  0.4588  0.4654  0.4802  0.4771  0.4775
8  0.4774  0.4531  0.4744  0.4928  0.4872  0.4919  0.5137  0.5032  0.4993

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,888.119,884.720,773.244,763.029,788.978,860.291,818.385,923.658,911.534
1,789.826,797.612,741.135,718.436,759.684,800.432,735.561,883.509,921.219
2,873.616,833.038,723.180,698.431,765.780,799.682,749.455,908.081,900.610
3,818.139,809.303,751.405,722.701,747.014,804.837,772.346,898.171,895.621
4,819.657,800.905,761.280,708.787,746.808,796.204,776.326,890.351,899.096
5,838.292,855.813,779.454,749.997,751.613,823.870,770.119,909.808,937.677
6,861.747,855.774,784.791,745.872,776.122,841.738,811.818,935.210,944.463
7,906.640,863.186,763.935,762.130,799.016,845.039,790.372,950.551,976.013
8,896.353,879.875,815.900,779.251,783.115,855.971,849.603,961.085,953.602

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,888.119,884.720,773.244,763.029,788.978,860.291,818.385,923.658,911.534
1,789.826,797.612,741.135,718.436,759.684,800.432,735.561,883.509,921.219
2,873.616,833.038,723.180,698.431,765.780,799.682,749.455,908.081,900.610
3,818.139,809.303,751.405,722.701,747.014,804.837,772.346,898.171,895.621
4,819.657,800.905,761.280,708.787,746.808,796.204,776.326,890.351,899.096
5,838.292,855.813,779.454,749.997,751.613,823.870,770.119,909.808,937.677
6,861.747,855.774,784.791,745.872,776.122,841.738,811.818,935.210,944.463
7,906.640,863.186,763.935,762.130,799.016,845.039,790.372,950.551,976.013
8,896.353,879.875,815.900,779.251,783.115,855.971,849.603,961.085,953.602

      H01     H02     H03     H04     H05     H06     H07     H08     H09
0  0.1137  0.1129  0.1119  0.1065  0.0988  0.0986  0.1215  0.1189  0.1197
1  0.1389  0.1368  0.1357  0.1220  0.1181  0.1115  0.1429  0.1415  0.1449
2  0.1914  0.1941  0.1996  0.1783  0.1731  0.1647  0.2013  0.1991  0.2018
3  0.2693  0.2691  0.2752  0.2584  0.2504  0.2423  0.2831  0.2779  0.2846
4  0.3344  0.3318  0.3353  0.3387  0.3340  0.3281  0.3630  0.3548  0.3654
5  0.3910  0.3750  0.3880  0.3949  0.3947  0.3864  0.4145  0.4053  0.4042
6  0.4140  0.3977  0.4108  0.4276  0.4254  0.4190  0.4503  0.4373  0.4469
7  0.4418  0.4254  0.4406  0.4574  0.4534  0.4506  0.4754  0.4625  0.4688
8  0.4802  0.4667  0.4779  0.4849  0.4805  0.4782  0.4988  0.4860  0.4927