In [1]:
%matplotlib inline

import sys
import numpy as np
sys.path.insert(0, '../')
import BrasilUSP_iGEM_LabLib as LabLib
import glob

ColumnNames = {
    'A' : "LB",
    'B' : "LB+Cam",
    'C' : "Dev1",
    'D' : "Dev2",
    'E' : "Dev3",
    'F' : "+control",
    'G' : "-control1",
    'H' : "-control2",
}

MeaningColNames = { v: k for k, v in ColumnNames.items()}

def allCols(labels, r0 = 1, rf = 9):
    if type(labels) != list: 
        labels = [labels]
    cols = []
    for label in labels:
        row  = MeaningColNames[label]
        for j in range(r0,rf+1):
            cols.append(row + '0' + str(j))
    return cols

In [2]:
FLlist = []
ODlist = []
tidx   = []
for file in glob.glob("medida*.txt"):
    tidx.append( float( file.split(' ')[1].split('.')[0] ) )
    FLlist.append(file)
    ODlist.append('OD'+file.split(' ')[1].split('.')[0]+'.txt')

Idx = np.argsort(tidx)
FLlist = np.array(FLlist)[Idx]
ODlist = np.array(ODlist)[Idx]

fldata = LabLib.ReadFluor_timefmt_nanomed(FLlist)

### LB

In [3]:
fldata[allCols('LB')]

        A01      A02      A03      A04      A05      A06      A07      A08       A09
0   896.879  924.144  899.629  796.180  936.492  826.367  759.291  792.928   946.623
1   946.583  938.596  928.959  790.242  946.989  838.949  777.353  790.383   963.707
2   694.778  774.716  718.264  533.280  735.652  606.997  629.488  703.695   852.307
3   737.650  821.107  748.746  606.770  802.477  799.081  726.210  740.538   888.691
4   743.555  825.443  746.563  639.481  820.822  844.555  816.009  911.706   952.603
5   799.255  882.934  779.688  688.916  839.220  888.245  860.381  905.064  1024.023
6   782.279  809.345  773.809  742.165  820.198  836.612  880.490  901.366  1014.964
7   776.692  817.415  761.893  736.503  852.735  841.259  858.177  837.875  1007.036
8   776.348  877.195  747.081  723.228  825.820  858.616  866.621  996.143   998.920
9   798.767  861.578  771.524  721.548  820.004  959.323  911.240  914.218  1003.483
10  799.387  803.411  754.331  795.254  810.677  911.880  878.620  951.304  1000.373
11  805.383  781.910  757.113  868.415  835.914  871.879  899.879  911.064   999.358

### LB+Cam

In [4]:
fldata[allCols('LB+Cam')]

         B01      B02      B03      B04       B05      B06       B07      B08       B09
0   1180.160  882.962  954.411  802.546   942.255  859.745   979.480  857.917   811.119
1   1173.930  850.644  973.921  785.830   927.859  817.743   854.005  834.492   887.342
2    958.425  840.944  821.440  645.994   979.900  743.767   669.229  755.811   699.467
3   1024.756  830.349  842.774  666.466   962.117  906.100   820.803  768.784   816.375
4   1000.996  814.397  791.555  722.756   925.786  947.178   909.051  901.147   839.264
5    995.022  831.187  845.626  773.672   935.171  812.578   934.815  902.891   867.893
6    884.719  851.379  847.468  742.702   982.207  938.566   936.667  871.362  1023.214
7    871.509  824.272  829.033  767.539  1009.404  929.783   928.080  835.231  1023.169
8    885.403  735.794  905.939  823.050   866.075  887.400   989.826  933.061   963.830
9    881.708  786.842  822.507  765.534   905.693  900.233   899.838  913.036  1107.978
10   836.802  809.301  824.980  786.747   806.451  900.527  1000.753  864.871  1000.470
11   812.309  741.137  873.050  916.904   830.879  830.909  1038.328  844.310  1108.942

### +control

In [5]:
fldata[allCols('+control')]

,F01,F02,F03,F04,F05,F06,F07,F08,F09
0,1257.941,981.899,1066.024,1121.537,1313.384,1183.373,1258.749,1180.780,1413.624
1,1302.891,1029.986,1124.515,1136.438,1344.116,1202.450,1215.171,1264.725,1465.563
2,1174.007,1017.639,960.077,1123.573,1296.184,1280.143,1343.821,1240.775,1409.934
3,1302.607,1159.828,1271.059,1486.345,1602.293,1541.780,1537.952,1578.427,1744.479
4,1467.490,1221.316,1322.874,1734.220,1812.546,1828.847,1784.929,1740.249,1906.325
5,1546.573,1319.818,1400.784,1924.480,2045.234,2019.014,1996.517,2063.506,2145.804
6,1551.688,1457.797,1484.786,2079.050,2121.146,2143.492,2140.902,2232.281,2211.407
7,1587.494,1509.216,1510.824,2073.477,2195.676,2287.086,2294.077,2284.609,2255.785
8,1584.212,1503.487,1464.964,1994.700,2228.621,2269.460,2180.293,2217.174,2279.366
9,1636.441,1543.291,1608.941,2228.344,2428.945,2405.783,2369.050,2417.212,2488.933
10,1586.261,1587.782,1649.325,2211.468,2439.271,2507.864,2479.272,2486.271,2434.852
11,1629.827,1670.569,1631.386,2376.537,2513.851,2625.903,2572.203,2483.540,2458.407

### -control 1

In [6]:
fldata[allCols('-control1')]

,G01,G02,G03,G04,G05,G06,G07,G08,G09
0,937.114,937.296,945.716,731.304,991.031,854.864,954.534,848.126,1021.831
1,1015.976,940.247,989.288,758.633,954.813,857.837,983.983,854.319,1035.976
2,892.533,857.173,804.049,707.504,882.935,789.953,854.355,850.397,989.281
3,875.475,896.749,956.432,784.310,905.354,871.267,996.633,886.533,996.221
4,911.807,911.095,951.176,766.349,952.041,892.515,916.314,941.527,1071.495
5,942.701,953.159,954.332,863.240,927.074,928.515,1013.747,935.686,1046.489
6,949.619,910.736,886.151,843.788,926.913,920.628,1006.426,1006.093,1045.556
7,945.972,895.247,874.986,863.812,929.468,930.469,1043.118,1034.549,1042.821
8,932.658,954.494,861.894,831.817,966.175,941.528,926.941,1007.339,1087.442
9,1008.785,940.268,969.010,867.550,954.646,954.338,1048.514,996.314,1056.043
10,1052.042,922.318,917.830,908.976,955.433,947.502,998.019,1062.457,1017.445
11,986.002,983.143,894.080,968.782,954.163,1007.168,1000.002,1033.834,1035.766

### -control 2

In [7]:
fldata[allCols('-control2')]

,H01,H02,H03,H04,H05,H06,H07,H08,H09
0,970.283,949.300,886.710,841.302,885.524,921.930,920.747,1003.883,982.806
1,1020.351,998.029,904.700,853.630,918.951,923.741,935.928,1015.737,973.924
2,847.745,900.183,802.158,772.408,806.023,866.345,763.950,954.101,934.010
3,899.583,931.839,822.306,844.994,852.180,936.848,868.907,1019.647,955.070
4,919.583,948.262,867.459,839.485,858.062,946.493,898.513,1077.778,1003.196
5,954.805,960.025,840.055,872.380,928.763,997.337,957.315,1116.084,1030.642
6,970.445,937.466,819.610,869.525,914.992,1005.086,909.473,1124.518,1071.269
7,951.832,964.226,841.070,899.445,932.354,1012.229,933.314,1150.443,1058.363
8,927.294,973.721,899.908,926.715,933.671,1044.836,960.143,1138.026,1002.582
9,942.487,1002.951,899.097,938.275,1005.412,1061.896,955.551,1171.833,1052.968
10,976.505,1014.303,890.220,958.019,960.351,1095.764,968.914,1186.047,1034.599
11,899.325,1032.144,962.751,992.924,1033.549,1110.623,971.219,1190.050,1028.735

### Device 1

In [8]:
fldata[allCols('Dev1')]

,C01,C02,C03,C04,C05,C06,C07,C08,C09
0,1830.308,1742.265,1768.843,1580.086,1851.884,1642.270,2441.359,2350.295,2737.891
1,1903.107,1789.704,1871.687,1622.700,1945.203,1660.514,2466.107,2461.751,2782.704
2,1938.178,1829.456,1941.933,1741.398,1982.600,1909.673,2552.333,2521.745,2727.022
3,2450.667,2231.277,2426.395,2301.153,2452.464,2290.206,3157.578,3012.243,3138.793
4,3019.984,2783.989,2919.003,2708.219,3015.403,2872.454,3429.707,3297.852,3455.288
5,3408.248,3243.249,3280.103,3162.756,3411.548,3141.144,3819.141,3528.550,3805.320
6,3957.959,3801.198,3874.764,3644.678,3843.598,3644.987,4357.068,3686.453,3952.700
7,4405.626,4087.116,4146.799,3916.273,4176.324,4047.402,4729.562,4139.115,4358.891
8,4771.245,4338.940,4311.070,4224.539,4593.605,4489.904,5105.141,4729.579,4718.762
9,5322.420,4926.661,4963.753,4886.594,5017.634,5018.591,5591.105,5233.147,5189.923
10,5483.836,5378.162,5319.374,5145.856,5186.867,5121.229,5664.006,5545.762,5609.205
11,6054.294,5997.537,5834.445,5702.861,5699.579,5786.890,6088.823,6038.356,6345.842

### Device 2

In [9]:
fldata[allCols('Dev2')]

,D01,D02,D03,D04,D05,D06,D07,D08,D09
0,1203.255,1149.200,1309.620,984.361,1190.680,1071.926,1267.330,1243.445,1406.622
1,1338.466,1156.220,1377.854,1021.688,1246.928,1094.507,1311.934,1266.715,1455.466
2,1331.141,1328.149,1372.234,1097.413,1219.012,1226.918,1284.183,1473.936,1602.181
3,1705.587,1590.729,1769.489,1414.735,1565.214,1550.805,1645.996,1660.726,1705.037
4,1956.300,1861.549,1989.938,1719.903,1864.730,1835.002,1800.903,1980.802,2034.436
5,2122.567,2035.958,2227.740,1972.121,2158.575,2113.871,2030.461,2088.889,2180.059
6,2442.911,2204.836,2354.825,2214.674,2428.807,2287.991,2155.646,2335.498,2423.901
7,2570.115,2371.333,2546.716,2303.354,2531.016,2453.259,2260.051,2513.993,2512.348
8,2596.441,2576.057,2414.606,2389.464,2680.838,2582.420,2392.327,2633.299,2745.168
9,2889.796,2939.871,2803.582,2806.628,2862.924,3007.292,2679.613,2766.355,2902.134
10,3066.261,2906.284,2917.061,2901.539,3092.110,3180.131,2780.507,3032.358,3173.500
11,3341.106,3152.298,3206.497,3165.714,3342.613,3364.938,2927.235,3193.200,3324.095

### Device 3

In [10]:
fldata[allCols('Dev3')]

,E01,E02,E03,E04,E05,E06,E07,E08,E09
0,1037.150,754.393,874.881,717.630,894.871,769.913,1035.646,1061.584,1040.428
1,1097.971,831.664,921.966,700.983,910.865,790.672,1029.495,1015.979,1053.199
2,862.057,713.480,862.560,659.336,776.711,774.023,900.321,962.403,1001.937
3,1025.065,834.866,887.086,639.241,914.067,850.337,971.832,1062.272,1057.837
4,955.426,784.357,941.188,678.859,835.733,790.659,1015.556,1075.534,1022.277
5,998.689,868.394,898.698,656.095,918.435,884.193,1078.031,1065.109,1064.796
6,1032.767,908.374,900.336,690.596,931.675,894.167,1009.348,1070.414,1139.454
7,1032.176,913.425,923.266,682.250,965.896,899.717,1016.682,1098.705,1115.764
8,939.813,867.030,960.935,671.225,919.065,853.607,1065.389,1066.498,1054.482
9,991.765,972.666,863.104,742.912,963.164,931.854,1038.861,1095.775,1114.369
10,945.016,961.694,897.219,703.547,1040.801,1000.850,1060.894,1104.356,1097.268
11,970.955,940.009,1024.546,802.698,933.286,932.336,1045.910,1133.340,1009.930